force-app/main/default/flows/Ac_Automation_V2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>968</locationX>
        <locationY>275</locationY>
        <assignmentItems>
            <assignToReference>NewcontactRoles</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContactRoleAssignment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Contact_Roles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_Role_One_by_One</name>
        <label>Assign Contact Role One by One</label>
        <locationX>1232</locationX>
        <locationY>346</locationY>
        <assignmentItems>
            <assignToReference>ContactRoleAssignment.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ACOpp.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRoleAssignment.IsPrimary</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Contact_Roles.IsPrimary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRoleAssignment.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Contact_Roles.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRoleAssignment.Role</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Contact_Roles.Role</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_LineItems_to_Collections</name>
        <label>Assign LineItems to Collections</label>
        <locationX>492</locationX>
        <locationY>709</locationY>
        <assignmentItems>
            <assignToReference>QuoteLineItemsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QuoteLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Pricebook_Entries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_Fields</name>
        <label>Assign Opportunity Fields</label>
        <locationX>706</locationX>
        <locationY>26</locationY>
        <assignmentItems>
            <assignToReference>ACOpp.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ACOpportunityName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ACOpp.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ACOpp.Partner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Partner__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ACOpp.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ACOpp.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0123u000000uCYJAA2</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ACOpp.Subtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Subtype__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ACOpp.Product_Line_s__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Product_Line_s__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ACOpp.Opportunity_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity_Source__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ACOpp.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ACCloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ACOpp.Sales_Engineer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Sales_Engineer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ACOpp.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Kick-Off</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ACOpp.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Pricebook2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ACOpp.Billing_Preference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Billing_Preference__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ACOpp.AC_Original_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ACOpp.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ACOpp.Trial__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ACOpp.Demo_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Demo_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ACOpp.Reseller_VAR_Influence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Reseller_VAR_Influence__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ACOpp.Billing_Preference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Billing_Preference__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_AC_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_QuoteLineItem</name>
        <label>Assign QuoteLineItem</label>
        <locationX>665</locationX>
        <locationY>561</locationY>
        <assignmentItems>
            <assignToReference>QuoteLineItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Pricebook_Entries.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineItem.QuoteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewACQuote.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineItem.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Pricebook_Entries.ListPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineItem.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Pricebook_Entries.PricebookEntry.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_LineItems_to_Collections</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_AC_Quote</name>
        <label>Create AC Quote</label>
        <locationX>725</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>NewACQuote.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ACOpp.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewACQuote.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ACOpp.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewACQuote.ExpirationDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ACCloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewACQuote.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ACOpp.Pricebook2Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Quote</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AC_Products</name>
        <label>AC Products?</label>
        <locationX>149</locationX>
        <locationY>640</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_QL_Pricebook_Entry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Pricebook_Entries</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Contact_Roles</name>
        <label>Has Contact Roles</label>
        <locationX>1219</locationX>
        <locationY>35</locationY>
        <defaultConnector>
            <targetReference>Create_AC_Quote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_OCR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_Roles</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Contact_Roles</targetReference>
            </connector>
            <label>Check OCR?</label>
        </rules>
    </decisions>
    <formulas>
        <name>ACCloseDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.CloseDate}+60</expression>
    </formulas>
    <formulas>
        <name>ACOpportunityName</name>
        <dataType>String</dataType>
        <expression>&quot;Analytics Cloud - &quot;+{!$Record.Name}</expression>
    </formulas>
    <interviewLabel>Ac Automation_V2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Ac Automation_V2</label>
    <loops>
        <name>Loop_Through_Contact_Roles</name>
        <label>Loop Through Contact Roles</label>
        <locationX>1107</locationX>
        <locationY>178</locationY>
        <collectionReference>Get_Contact_Roles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Contact_Role_One_by_One</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_OCR</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Pricebook_Entries</name>
        <label>Loop Through Pricebook Entries</label>
        <locationX>497</locationX>
        <locationY>491</locationY>
        <collectionReference>Get_QL_Pricebook_Entry</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_QuoteLineItem</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Quote_Line_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_AC_Opportunity</name>
        <label>Create AC Opportunity</label>
        <locationX>825</locationX>
        <locationY>27</locationY>
        <connector>
            <targetReference>Get_Contact_Roles</targetReference>
        </connector>
        <inputReference>ACOpp</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_OCR</name>
        <label>Create OCR</label>
        <locationX>723</locationX>
        <locationY>193</locationY>
        <connector>
            <targetReference>Create_AC_Quote</targetReference>
        </connector>
        <inputReference>NewcontactRoles</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Quote</name>
        <label>Create Quote</label>
        <locationX>562</locationX>
        <locationY>327</locationY>
        <connector>
            <targetReference>GetOppRecordId</targetReference>
        </connector>
        <inputReference>NewACQuote</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Quote_Line_Items</name>
        <label>Create Quote Line Items</label>
        <locationX>842</locationX>
        <locationY>504</locationY>
        <inputReference>QuoteLineItemsCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact_Roles</name>
        <label>Get Contact Roles</label>
        <locationX>983</locationX>
        <locationY>30</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Contact_Roles</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_QL_Pricebook_Entry</name>
        <label>Get QL Pricebook Entry</label>
        <locationX>50</locationX>
        <locationY>435</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AC_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetOppRecordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Family__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ANALYTICS CLOUD</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOppRecordId</name>
        <label>Get Opportunity Quote</label>
        <locationX>293</locationX>
        <locationY>308</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_QL_Pricebook_Entry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsSyncing</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SyncedQuoteId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>286</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Assign_Opportunity_Fields</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>of_Analytics_Products__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>Trial__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Analytics_Cloud_Amount__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>ACOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>ContactRoleAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>NewACQuote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>NewcontactRoles</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>QuoteLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>QuoteLineItemsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
</Flow>
