force-app/main/default/flows/Account_Before_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Churn_Date_TODAY</name>
        <label>Churn Date = TODAY</label>
        <locationX>182</locationX>
        <locationY>995</locationY>
        <assignmentItems>
            <assignToReference>$Record.Churn_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Date_Became_Customer_First_Most_Recent_TODAY</name>
        <label>Date Became Customer (First &amp; Most Recent) = TODAY</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>$Record.Date_Became_Customer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Date_Became_Customer_Most_Recent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Type_Dead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Date_Became_Customer_Most_Recent_TODAY</name>
        <label>Date Became Customer (Most Recent) = TODAY</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>$Record.Date_Became_Customer_Most_Recent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Type_Dead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>HS_Lifecycle_Stage_Churned</name>
        <label>HS Lifecycle Stage = Churned</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Hubspot_Lifecycle_Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Churned</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Hubspot_Lifecycle_Stage_Customer</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_Type_Dead</name>
        <label>Account Type = Dead?</label>
        <locationX>314</locationX>
        <locationY>887</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Churned</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Churn_Date_TODAY</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Hubspot_Lifecycle_Stage_Customer</name>
        <label>Hubspot Lifecycle Stage Customer?</label>
        <locationX>314</locationX>
        <locationY>587</locationY>
        <defaultConnector>
            <targetReference>Account_Type_Dead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Hubspot_Lifecycle_Stage_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Hubspot_Lifecycle_Stage__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Hubspot_Lifecycle_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Date_Became_Customer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Date_Became_Customer_First_Most_Recent_TODAY</targetReference>
            </connector>
            <label>First Time</label>
        </rules>
        <rules>
            <name>Most_Recent_Time</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Hubspot_Lifecycle_Stage__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Hubspot_Lifecycle_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Date_Became_Customer_Most_Recent_TODAY</targetReference>
            </connector>
            <label>Most Recent Time</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_HS_Lifecycle_Stage_to_Churned</name>
        <label>Update HS Lifecycle Stage to Churned?</label>
        <locationX>314</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Hubspot_Lifecycle_Stage_Customer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_HS_Lifecycle_Stage_to_Churned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Churned</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Hubspot_Lifecycle_Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Churned</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HS_Lifecycle_Stage_Churned</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Account: Before Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account: Before Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_HS_Lifecycle_Stage_to_Churned</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
