force-app/main/default/flows/Add_Chat_User_to_Email_List.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Admin_Email</name>
        <label>Send Admin Email</label>
        <locationX>986</locationX>
        <locationY>721</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Name: {!FirstNameOfObject} {!LastNameOfObject}. Email: {!Email_To_Add} Url: https://salespad--partial.lightning.force.com/lightning/r/Lead/{!Id_Of_Object}/view. Task: https://salespad--partial.lightning.force.com/lightning/r/Task/{!Create_Task}/view</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Send_To_Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>New {!Newsletter_Type} Newsletter Request</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Contact_Association_Assignment</name>
        <label>Contact Association Assignment</label>
        <locationX>904</locationX>
        <locationY>14</locationY>
        <assignmentItems>
            <assignToReference>Id_Of_Object</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact_Association.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_User_to_Assign_To</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Created_Lead_Id</name>
        <label>New Lead Association Assignment</label>
        <locationX>778</locationX>
        <locationY>409</locationY>
        <assignmentItems>
            <assignToReference>Id_Of_Object</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Lead</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_User_to_Assign_To</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Lead_Id</name>
        <label>Lead Association Assignment</label>
        <locationX>817</locationX>
        <locationY>248</locationY>
        <assignmentItems>
            <assignToReference>Id_Of_Object</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead_Association.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_User_to_Assign_To</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Send_To_Email</name>
        <dataType>String</dataType>
        <value>
            <stringValue>paul.deboer@salespad.net</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Does_Account_Exist</name>
        <label>Does Account Exist</label>
        <locationX>651</locationX>
        <locationY>1</locationY>
        <defaultConnector>
            <targetReference>Contact_Association_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_Association.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Contact_Already_On_List</targetReference>
            </connector>
            <label>Account Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Contact_Exists</name>
        <label>Does Contact Exists</label>
        <locationX>495</locationX>
        <locationY>77</locationY>
        <defaultConnector>
            <targetReference>Get_Lead_Association</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_Association</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_Account_Exist</targetReference>
            </connector>
            <label>Contact Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Lead_Exist</name>
        <label>Does Lead Exist</label>
        <locationX>636</locationX>
        <locationY>248</locationY>
        <defaultConnector>
            <targetReference>Create_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead_Association</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Id</targetReference>
            </connector>
            <label>Lead Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Contact_Already_On_List</name>
        <label>Is Contact Already On List</label>
        <locationX>717</locationX>
        <locationY>131</locationY>
        <defaultConnector>
            <targetReference>Contact_Association_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>On_List_Already</name>
            <conditionLogic>(1 ) OR (2) OR (3) OR (4)</conditionLogic>
            <conditions>
                <leftValueReference>Newsletter_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Desktop</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Newsletter_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cloud</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Newsletter_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Custom</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Newsletter_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <label>On List Already</label>
        </rules>
    </decisions>
    <description>Removed Product Lines</description>
    <environments>Default</environments>
    <interviewLabel>Add Chat User to Email List {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Chat User to Email List</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Lead</name>
        <label>Create Lead</label>
        <locationX>646</locationX>
        <locationY>407</locationY>
        <connector>
            <targetReference>Created_Lead_Id</targetReference>
        </connector>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email_To_Add</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>FirstNameOfObject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>LastNameOfObject</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>983</locationX>
        <locationY>422</locationY>
        <connector>
            <targetReference>Get_Admin_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_User_to_Assign_To.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Add To {!Newsletter_Type} Mailing List</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Id_Of_Object</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Admin_Account</name>
        <label>Get Admin Account</label>
        <locationX>984</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Admin_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_User_to_Assign_To.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Association</name>
        <label>Get Contact Association</label>
        <locationX>385</locationX>
        <locationY>70</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Contact_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email_To_Add</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead_Association</name>
        <label>Get Lead Association</label>
        <locationX>498</locationX>
        <locationY>247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Lead_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email_To_Add</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_to_Assign_To</name>
        <label>Get User to Assign To</label>
        <locationX>978</locationX>
        <locationY>249</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Send_To_Email</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>45</locationX>
        <locationY>70</locationY>
        <connector>
            <targetReference>Get_Contact_Association</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Email_To_Add</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FirstNameOfObject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Id_Of_Object</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LastNameOfObject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Newsletter_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
