force-app/main/default/flows/Apply_Discounts_on_Quote_Line_Products.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Enhanced_Discount</name>
        <label>Enhanced Discount</label>
        <locationX>94</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>EnhancedDiscountVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Discount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DoesOpportunitySalesDiscount</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_Opportunity_have_coupon</name>
        <label>Does Opportunity have coupon</label>
        <locationX>380</locationX>
        <locationY>1799</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Does_Opportunity_have_coupon_1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.chargebeeapps__CB_Coupon__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BRONZE PARTNER PRODUCT MARGIN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.chargebeeapps__CB_Coupon__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SILVER PARTNER PRODUCT MARGIN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.chargebeeapps__CB_Coupon__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SILVER PARTNER RENEWAL MARGIN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Quote</targetReference>
            </connector>
            <label>Does Opportunity have coupon?1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Quote_Exists</name>
        <label>Does Quote Exists?</label>
        <locationX>182</locationX>
        <locationY>2039</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Does_Quote_Exists_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Quote</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Quote_Lines</targetReference>
            </connector>
            <label>Does Quote Exists?1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Quote_Exists_0</name>
        <label>Does Quote Exists?</label>
        <locationX>226</locationX>
        <locationY>1367</locationY>
        <defaultConnector>
            <targetReference>Does_Opportunity_have_coupon</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Does_Quote_Exists_1_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Quote_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Quote_Lines_0</targetReference>
            </connector>
            <label>Does Quote Exists?1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Quote_Exists_0_0</name>
        <label>Does Quote Exists?</label>
        <locationX>226</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>DoesOpportunitySalesDiscount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Does_Quote_Exists_1_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Quote_0_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enhanced_Discount</targetReference>
            </connector>
            <label>Does Quote Exists?1</label>
        </rules>
    </decisions>
    <decisions>
        <name>DoesOpportunityhaveEnhancementDiscount</name>
        <label>DoesOpportunityhaveEnhancementDiscount</label>
        <locationX>380</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>DoesOpportunitySalesDiscount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DoesOpportunityhaveEnhancementDiscount1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.chargebeeapps__CB_Coupon__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PARTNER ENHANCEMENT MARGIN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Quote_0_0</targetReference>
            </connector>
            <label>DoesOpportunityhaveEnhancementDiscount1</label>
        </rules>
    </decisions>
    <decisions>
        <name>DoesOpportunitySalesDiscount</name>
        <label>DoesOpportunitySalesDiscount</label>
        <locationX>380</locationX>
        <locationY>1127</locationY>
        <defaultConnector>
            <targetReference>Does_Opportunity_have_coupon</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DoesOpportunitySalesDiscount1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.chargebeeapps__CB_Coupon__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>10% SALES DISCOUNT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.chargebeeapps__CB_Coupon__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5% FIRST YEAR DISCOUNT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Quote_0</targetReference>
            </connector>
            <label>DoesOpportunitySalesDiscount</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Opportunity_Partner</name>
        <label>Is Opportunity Partner</label>
        <locationX>611</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Opportunity_Partner1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.chargebeeapps__Opportunity__r.Partner__r.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partner - Reseller</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DoesOpportunityhaveEnhancementDiscount</targetReference>
            </connector>
            <label>Is Opportunity Partner1</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Apply Discounts on Quote Line Products {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Apply Discounts on Quote Line Products</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Quote</name>
        <label>Get  Related Quote</label>
        <locationX>182</locationX>
        <locationY>1919</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Quote_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.chargebeeapps__Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Quote_0</name>
        <label>Get  Related Quote</label>
        <locationX>226</locationX>
        <locationY>1247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Quote_Exists_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.chargebeeapps__Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Quote_0_0</name>
        <label>Get  Related Quote</label>
        <locationX>226</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Quote_Exists_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.chargebeeapps__Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Quote_Lines</name>
        <label>Update Quote Lines</label>
        <locationX>50</locationX>
        <locationY>2159</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Related_Quote.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Family__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DESKTOP_PRODUCTS</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Discount</field>
            <value>
                <elementReference>$Record.Discount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Enhanced_Discount__c</field>
            <value>
                <elementReference>EnhancedDiscountVar</elementReference>
            </value>
        </inputAssignments>
        <object>QuoteLineItem</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Quote_Lines_0</name>
        <label>Update Quote Lines</label>
        <locationX>94</locationX>
        <locationY>1487</locationY>
        <connector>
            <targetReference>Does_Opportunity_have_coupon</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Related_Quote_0.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Family__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DESKTOP_PRODUCTS</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Enhanced_Discount__c</field>
            <value>
                <elementReference>EnhancedDiscountVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Discount__c</field>
            <value>
                <elementReference>$Record.Discount__c</elementReference>
            </value>
        </inputAssignments>
        <object>QuoteLineItem</object>
    </recordUpdates>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Opportunity_Partner</targetReference>
        </connector>
        <object>chargebeeapps__CB_Opportunity_Coupon__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>EnhancedDiscountVar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
