force-app/main/default/flows/Automate_Partner_Margin_Name.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>setApprovedForAPDate</name>
        <label>setApprovedForAPDate</label>
        <locationX>890</locationX>
        <locationY>741</locationY>
        <assignmentItems>
            <assignToReference>$Record.Approved_for_AP_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>setPartnerMarginName</name>
        <label>setPartnerMarginName</label>
        <locationX>492</locationX>
        <locationY>471</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Partner_Margin_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckApprovedForAP</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckApprovedForAP</name>
        <label>CheckApprovedForAP</label>
        <locationX>491</locationX>
        <locationY>637</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckApprovedForAPStatus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Partner_Margin_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Partner_Margin_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved for AP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setApprovedForAPDate</targetReference>
            </connector>
            <label>CheckApprovedForAPStatus</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkName</name>
        <label>checkName</label>
        <locationX>475</locationX>
        <locationY>315</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckPartnerMarginName</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Partner_Margin_Number__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setPartnerMarginName</targetReference>
            </connector>
            <label>CheckPartnerMarginName</label>
        </rules>
        <rules>
            <name>CheckStatus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Partner_Margin_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Partner_Margin_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved for AP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setApprovedForAPDate</targetReference>
            </connector>
            <label>CheckStatus</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Automate Partner Margin Name {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Automate Partner Margin Name</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>373</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>checkName</targetReference>
        </connector>
        <object>Partner_Margin__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
