force-app/main/default/flows/Automate_Partner_Tier_Name.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>setName</name>
        <label>setName</label>
        <locationX>498</locationX>
        <locationY>521</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PartnerTierName</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>CheckName</name>
        <label>CheckName</label>
        <locationX>488</locationX>
        <locationY>315</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckTierName</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>PartnerTierName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setName</targetReference>
            </connector>
            <label>CheckTierName</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Automate Partner Tier Name {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Automate Partner Tier Name</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>373</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>CheckName</targetReference>
        </connector>
        <object>Partner_Tier__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>PartnerTierName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Tier: {!$Record.Partner__r.Name} - {!$Record.Partner_Tier__c}</stringValue>
        </value>
    </variables>
</Flow>
