force-app/main/default/flows/AutoPopulateName.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>setName</name>
        <label>setName</label>
        <locationX>449</locationX>
        <locationY>553</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Partner_Margin_Parner_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updatePMP</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckName</name>
        <label>CheckName</label>
        <locationX>432</locationX>
        <locationY>378</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NameCheck</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Partner_Margin_Parner_ID__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setName</targetReference>
            </connector>
            <label>NameCheck</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>AutoPopulateName {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AutoPopulateName</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>updatePMP</name>
        <label>updatePMP</label>
        <locationX>463</locationX>
        <locationY>670</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Partner_Margin_Parner_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>311</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>CheckName</targetReference>
        </connector>
        <object>Partner_Margin_Product__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
