force-app/main/default/flows/CB_Subscription_After_Insert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Acct_Sub_Status</name>
        <label>Acct &gt; Sub Status</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>Account_get.Subscription_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.chargebeeapps__Subscription_status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountChanged</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Changed</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_Changed</name>
        <label>Account Changed?</label>
        <locationX>182</locationX>
        <locationY>1139</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Account_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_update</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CB_Bill_Cycles_Opp_Bill_Cycles</name>
        <label>CB Bill Cycles &gt; Opp Bill Cycles?</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>CB_Sub_Current_Term_End_later_than_Account_Current_Term_End</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_CB_Bill_Cycles_Opp_Bill_Cycles</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.chargebeeapps__Remaining_Billing_Cycles__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Opp.Remaining_Billing_Cycles__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opp_update</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CB_Sub_Current_Term_End_later_than_Account_Current_Term_End</name>
        <label>CB Sub &gt; Current Term End later than Account &gt; Current Term End?</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>Account_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_CB_Sub_Current_Term_End_later_than_Account_Current_Term_End</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.chargebeeapps__Current_Term_End__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Account_get.Current_Term_End_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.chargebeeapps__Subscription_status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Account_get.Subscription_Status__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Acct_Sub_Status</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CB Subscription: After Insert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CB Subscription: After Insert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Account_get</name>
        <label>Account</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.chargebeeapps__Company__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Opp</name>
        <label>Opp</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CB_Bill_Cycles_Opp_Bill_Cycles</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.chargebeeapps__CB_Oppurtunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Account_update</name>
        <label>Account</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <inputReference>Account_get</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Opp_update</name>
        <label>Opp</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>CB_Sub_Current_Term_End_later_than_Account_Current_Term_End</targetReference>
        </connector>
        <inputAssignments>
            <field>Remaining_Billing_Cycles__c</field>
            <value>
                <elementReference>$Record.chargebeeapps__Remaining_Billing_Cycles__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.chargebeeapps__Opportunities__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Account_get</targetReference>
        </connector>
        <object>chargebeeapps__CB_Subscription__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>AccountChanged</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
