force-app/main/default/flows/CB_Subscription_After_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Acct_Sub_Status</name>
        <label>Acct Sub Status = CB Sub Status</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Account_get.Subscription_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.chargebeeapps__Subscription_status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountChanged</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Acct_Sub_Status_ACTIVE</name>
        <label>Acct Sub Status = ACTIVE</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Account_get.Subscription_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ACTIVE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountChanged</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Acct_Sub_Status_CB_Sub_Status</name>
        <label>Acct Sub Status = CB Sub Status</label>
        <locationX>578</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Account_get.Subscription_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.chargebeeapps__Subscription_status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountChanged</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Changed</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_Changed</name>
        <label>Account Changed?</label>
        <locationX>545</locationX>
        <locationY>1223</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Account_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_update</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Active_CB_Sub_found</name>
        <label>Active CB Sub found?</label>
        <locationX>446</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Acct_Sub_Status_CB_Sub_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Active_CB_Sub_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Active_CB_Sub</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Acct_Sub_Status_ACTIVE</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CB_Sub_Current_Term_End_later_than_Account_Current_Term_End</name>
        <label>CB Sub &gt; Current Term End later than Account &gt; Current Term End?</label>
        <locationX>545</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Account_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_CB_Sub_Current_Term_End_later_than_Account_Current_Term_End</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.chargebeeapps__Current_Term_End__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Account_get.Current_Term_End_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.chargebeeapps__Subscription_status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Account_get.Subscription_Status__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sub_Status</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sub_Status</name>
        <label>Sub Status</label>
        <locationX>248</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Active_CB_Sub</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>ACTIVE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.chargebeeapps__Subscription_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ACTIVE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Acct_Sub_Status</targetReference>
            </connector>
            <label>ACTIVE</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CB Subscription: After Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CB Subscription: After Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Account_get</name>
        <label>Account</label>
        <locationX>545</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CB_Sub_Current_Term_End_later_than_Account_Current_Term_End</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.chargebeeapps__Company__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Active_CB_Sub</name>
        <label>Active CB Sub</label>
        <locationX>446</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Active_CB_Sub_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>chargebeeapps__Company__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_get.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>chargebeeapps__Subscription_status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ACTIVE</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>chargebeeapps__CB_Subscription__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Account_update</name>
        <label>Account</label>
        <locationX>413</locationX>
        <locationY>1331</locationY>
        <inputReference>Account_get</inputReference>
    </recordUpdates>
    <start>
        <locationX>419</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Account_get</targetReference>
        </connector>
        <object>chargebeeapps__CB_Subscription__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountChanged</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
