force-app/main/default/flows/Create_Standard_CO_Opportunity_final.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>821</locationX>
        <locationY>433</locationY>
        <assignmentItems>
            <assignToReference>NewContactRoles</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContactRoleAssignment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Contact_Roles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Loop through contact role one by one</description>
        <name>Assign_Contact_Role_One_by_One</name>
        <label>Assign Contact Role One by One</label>
        <locationX>398</locationX>
        <locationY>294</locationY>
        <assignmentItems>
            <assignToReference>ContactRoleAssignment.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COpportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRoleAssignment.IsPrimary</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Contact_Roles.IsPrimary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRoleAssignment.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Contact_Roles.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRoleAssignment.Role</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Contact_Roles.Role</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_LineItemsto_Collections</name>
        <label>Assign LineItems to Collections</label>
        <locationX>551</locationX>
        <locationY>915</locationY>
        <assignmentItems>
            <assignToReference>QuoteLineItemsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QuoteLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Pricebook_Entries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Map Original Opportunity fields to Change Order Opportunity</description>
        <name>Assign_Opportunity_Fields</name>
        <label>Assign Opportunity Fields</label>
        <locationX>521</locationX>
        <locationY>148</locationY>
        <assignmentItems>
            <assignToReference>COpportunity.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COOpportunityName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COpportunity.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COpportunity.Partner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Partner__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COpportunity.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Existing Business</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COpportunity.Subtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Change Order (Services)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COpportunity.Product_Line_s__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Desktop</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COpportunity.Opportunity_Source_Global__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Professional Services</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COpportunity.Sales_Engineer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Sales_Engineer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COpportunity.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COpportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Discovery</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COpportunity.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Pricebook2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COpportunity.Standard_CO_Original_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COpportunity.Billing_Preference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Billing_Preference__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COpportunity.Project_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Project_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COpportunity.COOpp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COpportunity.Use_New_Pricing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Use_New_Pricing__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateCOpportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_QuoteLineItem</name>
        <label>Assign QuoteLineItem</label>
        <locationX>682</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>QuoteLineItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Pricebook_Entries.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineItem.QuoteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewCOQuote.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineItem.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Pricebook_Entries.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineItem.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Pricebook_Entries.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_LineItemsto_Collections</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Co_Quote</name>
        <label>Create Co Quote</label>
        <locationX>814</locationX>
        <locationY>580</locationY>
        <assignmentItems>
            <assignToReference>NewCOQuote.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COpportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCOQuote.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COpportunity.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCOQuote.Billing_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Time and Materials</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCOQuote.PM_Service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>15</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCOQuote.ExpirationDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCOQuote.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COpportunity.Pricebook2Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Quote</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_OCR</name>
        <label>Check OCR?</label>
        <locationX>1099</locationX>
        <locationY>341</locationY>
        <defaultConnector>
            <targetReference>Create_Co_Quote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Contact_Roels</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_contact_Roles</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Loop_through_Contact_Roles</targetReference>
            </connector>
            <label>Has Contact Roels</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Pricebook_entry</name>
        <label>Is Pricebook entry</label>
        <locationX>395</locationX>
        <locationY>492</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Pricebook_entry1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote_Records.Pricebook2Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Pricebook_Entry_Pm_Services</targetReference>
            </connector>
            <label>Is Pricebook entry</label>
        </rules>
    </decisions>
    <description>Removed Sub Source</description>
    <environments>Default</environments>
    <formulas>
        <name>CloseDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.CloseDate}+14</expression>
    </formulas>
    <formulas>
        <name>COOpportunityName</name>
        <dataType>String</dataType>
        <expression>&quot;ChangeOrder - &quot;+{!$Record.Name}</expression>
    </formulas>
    <interviewLabel>Create Standard CO Opportunity_final {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Standard CO Opportunity_final</label>
    <loops>
        <name>Loop_through_Contact_Roles</name>
        <label>Loop through Contact Roles</label>
        <locationX>810</locationX>
        <locationY>254</locationY>
        <collectionReference>Get_contact_Roles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Contact_Role_One_by_One</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_OCR</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Pricebook_Entries</name>
        <label>Loop Through Pricebook Entries</label>
        <locationX>508</locationX>
        <locationY>746</locationY>
        <collectionReference>Get_Pricebook_Entry_Pm_Services</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_QuoteLineItem</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Quote_Line_items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_OCR</name>
        <label>Create OCR</label>
        <locationX>1087</locationX>
        <locationY>600</locationY>
        <connector>
            <targetReference>Create_Co_Quote</targetReference>
        </connector>
        <inputReference>NewContactRoles</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Quote</name>
        <label>Create Quote</label>
        <locationX>662</locationX>
        <locationY>485</locationY>
        <connector>
            <targetReference>Get_Quote_Records</targetReference>
        </connector>
        <inputReference>NewCOQuote</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Quote_Line_items</name>
        <label>Create Quote Line items</label>
        <locationX>906</locationX>
        <locationY>735</locationY>
        <inputReference>QuoteLineItemsCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateCOpportunity</name>
        <label>CreateCOpportunity</label>
        <locationX>708</locationX>
        <locationY>144</locationY>
        <connector>
            <targetReference>Get_contact_Roles</targetReference>
        </connector>
        <inputReference>COpportunity</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_contact_Roles</name>
        <label>Get contact Roles</label>
        <locationX>966</locationX>
        <locationY>140</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_OCR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pricebook_Entry_Pm_Services</name>
        <label>Get Pricebook Entry</label>
        <locationX>368</locationX>
        <locationY>658</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Pricebook_Entries</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Pricebook2Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Consulting_PM_services</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Cosnulting</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Records</name>
        <label>Get Quote Records</label>
        <locationX>517</locationX>
        <locationY>432</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Pricebook_entry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewCOQuote.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Pricebook2Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Assign_Opportunity_Fields</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Standard_Change_Order_Required__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <description>Assign Consulting Product</description>
        <name>AssignConsulting</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>AssignPMServices</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>ContactRoleAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>COpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>NewContactRoles</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>NewCOQuote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>NewPricebookEntry</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <description>Add PM Services and Consulting Line Items</description>
        <name>OpportunityCOLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>QuoteLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>QuoteLineItemsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
</Flow>
