force-app/main/default/flows/Create_Add_To_Email_List_Task.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Admin_Email</name>
        <label>Send Admin Email</label>
        <locationX>950</locationX>
        <locationY>872</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Name: {!FirstNameOfObject} {!LastNameOfObject}. Newsletter: {!NewsletterType}. Url: https://salespad.lightning.force.com/lightning/r/Lead/{!IdOfObject}/view. Task: https://salespad.lightning.force.com/lightning/r/Task/{!Create_Account_Task}/view</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Admin_Account.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>New {!NewsletterType} Newsletter Request</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Already_On_List</name>
        <label>Already On List</label>
        <locationX>795</locationX>
        <locationY>607</locationY>
        <assignmentItems>
            <assignToReference>OutputMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Your account should already be on the receiving list for {!NewsletterType}</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Contact_Id</name>
        <label>Contact Id</label>
        <locationX>963</locationX>
        <locationY>130</locationY>
        <assignmentItems>
            <assignToReference>IdOfObject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact_Association.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Account_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Created_Lead_Id</name>
        <label>Created Lead Id</label>
        <locationX>945</locationX>
        <locationY>480</locationY>
        <assignmentItems>
            <assignToReference>IdOfObject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Lead</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Account_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Lead_Id</name>
        <label>Lead Id</label>
        <locationX>952</locationX>
        <locationY>340</locationY>
        <assignmentItems>
            <assignToReference>IdOfObject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead_Association.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Account_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Send_Finished_Message</name>
        <label>Send Finished Message</label>
        <locationX>1020</locationX>
        <locationY>543</locationY>
        <assignmentItems>
            <assignToReference>OutputMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>You&apos;ve been added to the newsletter</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Admin_Account</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>OwnerId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0056A000001duybQAA</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_If_On_List</name>
        <label>Check If On List</label>
        <locationX>744</locationX>
        <locationY>212</locationY>
        <defaultConnector>
            <targetReference>Contact_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>On_List_Already</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewsletterType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Desktop</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewsletterType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cloud</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewsletterType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Custom</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewsletterType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Already_On_List</targetReference>
            </connector>
            <label>On List Already</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_Exists</name>
        <label>Contact Exists</label>
        <locationX>532</locationX>
        <locationY>189</locationY>
        <defaultConnector>
            <targetReference>Get_Lead_Association</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_Association</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_Account_Exist</targetReference>
            </connector>
            <label>Contact Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Account_Exist</name>
        <label>Does Account Exist</label>
        <locationX>660</locationX>
        <locationY>50</locationY>
        <defaultConnector>
            <targetReference>Contact_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_Association.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_If_On_List</targetReference>
            </connector>
            <label>Account Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Exists</name>
        <label>Lead Exists</label>
        <locationX>676</locationX>
        <locationY>340</locationY>
        <defaultConnector>
            <targetReference>Create_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead_Association</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Id</targetReference>
            </connector>
            <label>Lead Exists</label>
        </rules>
    </decisions>
    <description>removed Product lines</description>
    <environments>Default</environments>
    <interviewLabel>Create Add To Email List Task {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Add To Email List Task</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Account_Task</name>
        <label>Create Account Task</label>
        <locationX>1268</locationX>
        <locationY>339</locationY>
        <connector>
            <targetReference>Send_Finished_Message</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Add To {!NewsletterType} Mailing List</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>IdOfObject</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Lead</name>
        <label>Create Lead</label>
        <locationX>684</locationX>
        <locationY>481</locationY>
        <connector>
            <targetReference>Created_Lead_Id</targetReference>
        </connector>
        <inputAssignments>
            <field>Company</field>
            <value>
                <stringValue>Unkown</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>EmailOfObject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>FirstNameOfObject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>LastNameOfObject</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Admin_Account</name>
        <label>Get Admin Account</label>
        <locationX>949</locationX>
        <locationY>742</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Admin_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Association</name>
        <label>Get Contact Association</label>
        <locationX>390</locationX>
        <locationY>186</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EmailOfObject</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead_Association</name>
        <label>Get Lead Association</label>
        <locationX>539</locationX>
        <locationY>337</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lead_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EmailOfObject</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>187</locationY>
        <connector>
            <targetReference>Get_Contact_Association</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>CreatedTaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailOfObject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FirstNameOfObject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdOfObject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LastNameOfObject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewsletterType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OutputMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
