force-app/main/default/flows/CreditNot_UpdatePM.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>setPMValue</name>
        <label>setPMValue</label>
        <locationX>894</locationX>
        <locationY>480</locationY>
        <assignmentItems>
            <assignToReference>forEachPM.CB_Credit_Note__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>forEachPM</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>CreditNot_UpdatePM {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CreditNot_UpdatePM</label>
    <loops>
        <name>forEachPM</name>
        <label>forEachPM</label>
        <locationX>695</locationX>
        <locationY>479</locationY>
        <collectionReference>getRelatedPMRecord</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>setPMValue</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateRelatedPMRecord</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getRelatedPMRecord</name>
        <label>getRelatedPMRecord</label>
        <locationX>500</locationX>
        <locationY>379</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>forEachPM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CB_Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.chargebeeapps__Invoice__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Partner_Margin__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateRelatedPMRecord</name>
        <label>updateRelatedPMRecord</label>
        <locationX>703</locationX>
        <locationY>683</locationY>
        <inputReference>getRelatedPMRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>373</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>getRelatedPMRecord</targetReference>
        </connector>
        <object>chargebeeapps__CB_Credit_Note__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
