force-app/main/default/flows/Customer_Reference_Request_Final.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CRR_to_AndrewCoates</name>
        <label>CRR to AndrewCoates</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <actionName>Customer_Reference_Request__c.Customer_Reference_Request</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Customer_Reference_Request__c.Customer_Reference_Request</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>CRR_to_AndrewCockrell</name>
        <label>CRR to AndrewCockrell</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <actionName>Customer_Reference_Request__c.Customer_Reference_Request</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Customer_Reference_Request__c.Customer_Reference_Request</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>CRR_to_Ben</name>
        <label>CRR to Ben</label>
        <locationX>842</locationX>
        <locationY>575</locationY>
        <actionName>Customer_Reference_Request__c.Customer_Reference_Request</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Customer_Reference_Request__c.Customer_Reference_Request</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>CRR_to_MAttHillman</name>
        <label>CRR to MattHillman</label>
        <locationX>1106</locationX>
        <locationY>575</locationY>
        <actionName>Customer_Reference_Request__c.Customer_Reference_Request</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Customer_Reference_Request__c.Customer_Reference_Request</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>CRR_to_Sean</name>
        <label>CRR to Sean</label>
        <locationX>1370</locationX>
        <locationY>575</locationY>
        <actionName>Customer_Reference_Request__c.Customer_Reference_Request</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Customer_Reference_Request__c.Customer_Reference_Request</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_AM_Joe_Jeff</name>
        <label>CRR to AM, Joe, Jeff</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <actionName>Customer_Reference_Request__c.Customer_Reference_Request</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Customer_Reference_Request__c.Customer_Reference_Request</nameSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_the_Territory</name>
        <label>Check the Territory?</label>
        <locationX>842</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Allie</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Allie_Territory</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Account__r.BillingState</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AlliesCountries_Territory</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Account__r.BillingState</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Allie</targetReference>
            </connector>
            <label>Allie</label>
        </rules>
        <rules>
            <name>AndrewCoates</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>AndrewCoates_Terrtory</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Account__r.BillingState</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AndrewCoatesCountries_Territory</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Account__r.BillingState</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_AndrewCoates</targetReference>
            </connector>
            <label>AndrewCoates</label>
        </rules>
        <rules>
            <name>AndrewCockrell</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AndrewCockrell_Territory</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Account__r.BillingState</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_AndrewCockrell</targetReference>
            </connector>
            <label>AndrewCockrell</label>
        </rules>
        <rules>
            <name>Ben</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Ben_Territory</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Account__r.BillingState</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Ben</targetReference>
            </connector>
            <label>Ben</label>
        </rules>
        <rules>
            <name>MattHillman</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Matt_Territory</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Account__r.BillingState</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MattCountries_Territory</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Account__r.BillingState</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_MattHillman</targetReference>
            </connector>
            <label>MattHillman</label>
        </rules>
        <rules>
            <name>Sean</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Sean_Territory</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Account__r.BillingState</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SeanCountries_Territory</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Account__r.BillingState</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_sean</targetReference>
            </connector>
            <label>Sean</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Customer Reference Request Final {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Customer Reference Request Final</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Assign_to_Allie</name>
        <label>Assign to Allie</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Send_Email_to_AM_Joe_Jeff</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Manager__c</field>
            <value>
                <stringValue>0053u00000329kYAAQ</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Assign_to_AndrewCoates</name>
        <label>Assign to AndrewCoates</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>CRR_to_AndrewCoates</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Manager__c</field>
            <value>
                <stringValue>0053u000004CyrBAAS</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Assign_to_AndrewCockrell</name>
        <label>Assign to AndrewCockrell</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>CRR_to_AndrewCockrell</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Manager__c</field>
            <value>
                <stringValue>0053u000004ZZLWAA4</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Assign_to_Ben</name>
        <label>Assign to Ben</label>
        <locationX>842</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>CRR_to_Ben</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Manager__c</field>
            <value>
                <stringValue>0056A000002nRqjQAE</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Assign_to_MattHillman</name>
        <label>Assign to MattHillman</label>
        <locationX>1106</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>CRR_to_MAttHillman</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Manager__c</field>
            <value>
                <stringValue>0056A000000wvYgQAI</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Assign_to_sean</name>
        <label>Assign to Sean</label>
        <locationX>1370</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>CRR_to_Sean</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Manager__c</field>
            <value>
                <stringValue>0053u000002m6EbAAI</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_the_Territory</targetReference>
        </connector>
        <object>Customer_Reference_Request__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Allie_Territory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Maine, Maryland, Massachusetts, Michigan, New Brunswick, New Hampshire, Newfoundland and Labrador, Nova Scotia, Prince Edward Island, Quebec, Vermont, Delaware, Virginia</stringValue>
        </value>
    </variables>
    <variables>
        <name>AlliesCountries_Territory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>United Kingdom, South Africa, Lebanon</stringValue>
        </value>
    </variables>
    <variables>
        <name>AndrewCoates_Terrtory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Alaska, Alberta, Arizona, British Columbia, Colorado, Idaho, Kansas, Manitoba, Mexico, Montana, New Mexico, Northwest Territories, Nunavut, Oklahoma, Ontario, Oregon, Saskatchewan, Utah, Washington, Wyoming, Yukon, New York</stringValue>
        </value>
    </variables>
    <variables>
        <name>AndrewCoatesCountries_Territory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Malaysia, Phillippines, China, Australia, New Zealand, Argentina, Chile, Ecuador</stringValue>
        </value>
    </variables>
    <variables>
        <name>AndrewCockrell_Territory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Florida, Louisiana, Texas</stringValue>
        </value>
    </variables>
    <variables>
        <name>Ben_Territory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Wisconsin, Alabama, Arkansas, Georgia, Indiana, Kentucky, Mississippi, Missouri, Ohio, Pennsylvania, Tennessee</stringValue>
        </value>
    </variables>
    <variables>
        <name>Matt_Territory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Connecticut, Illinois, Iowa, Minnesota, Nebraska, North Dakota, Rhode Island, South Dakota, Wisconsin, South Carolina</stringValue>
        </value>
    </variables>
    <variables>
        <name>MattCountries_Territory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Germany, Netherlands</stringValue>
        </value>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Sean_Territory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>California, Caribbean, Hawaii, Nevada, Virgin Islands, Puerto Rico, New Jersey, district of Columbia, West Virginia</stringValue>
        </value>
    </variables>
    <variables>
        <name>SeanCountries_Territory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Cayman Island, Dominican, Haiti, Jamaica, Trinidad &amp; Tobago, Barbados</stringValue>
        </value>
    </variables>
</Flow>
