force-app/main/default/flows/Customer_Reference_Request_Status_Changes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Approved_Email</name>
        <label>Approved Email</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>Customer_Reference_Request__c.CRR_Approved</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Customer_Reference_Request__c.CRR_Approved</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Reassigned_email</name>
        <label>Reassigned email</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <actionName>Customer_Reference_Request__c.CRR_Reassigned</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Customer_Reference_Request__c.CRR_Reassigned</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Rejected_email</name>
        <label>Rejected Email</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <actionName>Customer_Reference_Request__c.CRR_Rejected</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Customer_Reference_Request__c.CRR_Rejected</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Request_Completed</name>
        <label>Request Completed</label>
        <locationX>842</locationX>
        <locationY>455</locationY>
        <actionName>Customer_Reference_Request__c.Customer_Reference_Request_Completed</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Customer_Reference_Request__c.Customer_Reference_Request_Completed</nameSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>CRR_Status_Update</name>
        <label>CRR Status Update</label>
        <locationX>578</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CRR_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Approved</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.CRR_Status__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approved_Email</targetReference>
            </connector>
            <label>CRR Approved</label>
        </rules>
        <rules>
            <name>CRR_Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Rejected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.CRR_Status__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rejected_email</targetReference>
            </connector>
            <label>CRR_Rejected</label>
        </rules>
        <rules>
            <name>CRR_Reassigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account_Manager__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reassigned_email</targetReference>
            </connector>
            <label>CRR Reassigned</label>
        </rules>
        <rules>
            <name>CRR_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Completed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Completed__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Request_Completed</targetReference>
            </connector>
            <label>CRR Completed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Customer Reference Request Status Changes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Customer Reference Request Status Changes</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CRR_Status_Update</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>CRR_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Completed__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Customer_Reference_Request__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Approved</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Approved</stringValue>
        </value>
    </variables>
    <variables>
        <name>Completed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Reassigned</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Reassigned</stringValue>
        </value>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Rejected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Rejected</stringValue>
        </value>
    </variables>
</Flow>
