force-app/main/default/flows/Hubspot_Opportunity_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Contact</name>
        <label>Check Contact</label>
        <locationX>584</locationX>
        <locationY>383</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Form_Name_Website_RFQ</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Form_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Website RFQ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_Create_Opportunity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_Opp_Created__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Temp</targetReference>
            </connector>
            <label>Form Name Website RFQ</label>
        </rules>
        <rules>
            <name>ERP_Current_MSFT_GP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.ERP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Microsoft Dynamics GP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Standard_Opp_MSFT_GP</targetReference>
            </connector>
            <label>ERP Current MSFT-GP</label>
        </rules>
        <rules>
            <name>ERP_Current_Microsoft_Dynamics_366</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.ERP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Microsoft Dynamics 365 Business Central</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_BC_Opp_Microsoft_Dynamics_365</targetReference>
            </connector>
            <label>ERP Current Microsoft Dynamics 366</label>
        </rules>
    </decisions>
    <decisions>
        <name>Temp</name>
        <label>Temp</label>
        <locationX>188</locationX>
        <locationY>503</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Temp1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Create_Opp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>test</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Create_Opp</targetReference>
            </connector>
            <label>Temp</label>
        </rules>
    </decisions>
    <description>Standard and BC 15</description>
    <environments>Default</environments>
    <formulas>
        <name>voppCloseDate</name>
        <dataType>Date</dataType>
        <expression>Today()  + 45</expression>
    </formulas>
    <formulas>
        <name>voppName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Account.Name} + &apos; RFQ&apos;</expression>
    </formulas>
    <formulas>
        <name>voppNameBC</name>
        <dataType>String</dataType>
        <expression>{!$Record.Account.Name} + &apos; Sales Accepted Lead Microsoft Dynamics 365 Business Central &apos;</expression>
    </formulas>
    <formulas>
        <name>voppNameStandard</name>
        <dataType>String</dataType>
        <expression>{!$Record.Account.Name} + &apos; Sales Accepted Lead MSFT - GP&apos;</expression>
    </formulas>
    <formulas>
        <name>voppType</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!$Record.Account.Hubspot_Lifecycle_Stage__c}) = &apos;Customer&apos; , &apos;Existing Business&apos;,&apos;New Business&apos;)</expression>
    </formulas>
    <interviewLabel>Hubspot Opportunity Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Hubspot Opportunity Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_Opp</name>
        <label>Create Website RFQ Opp</label>
        <locationX>188</locationX>
        <locationY>719</locationY>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>voppCloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>voppName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Source_Global__c</field>
            <value>
                <stringValue>Sales</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_SubSource_Global__c</field>
            <value>
                <stringValue>Website RFQ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Account.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RFQ_comments__c</field>
            <value>
                <elementReference>$Record.Functional_Requirements__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0126A000000JRalQAG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Inbound</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subtype__c</field>
            <value>
                <stringValue>Services</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>voppType</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_BC_Opp_Microsoft_Dynamics_365</name>
        <label>Create BC Opp Microsoft Dynamics 365</label>
        <locationX>716</locationX>
        <locationY>503</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>voppCloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>voppName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Source_Global__c</field>
            <value>
                <elementReference>$Record.Account.AccountSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_SubSource_Global__c</field>
            <value>
                <elementReference>$Record.Account.Account_Sub_Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Account.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RFQ_comments__c</field>
            <value>
                <elementReference>$Record.Functional_Requirements__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0123u000000FTXCAA4</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Inbound</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subtype__c</field>
            <value>
                <stringValue>New Logo</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>voppType</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Standard_Opp_MSFT_GP</name>
        <label>Create Standard Opp MSFT GP</label>
        <locationX>452</locationX>
        <locationY>503</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>voppCloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>voppNameStandard</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Source_Global__c</field>
            <value>
                <elementReference>$Record.Account.AccountSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_SubSource_Global__c</field>
            <value>
                <elementReference>$Record.Account.Account_Sub_Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Account.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RFQ_comments__c</field>
            <value>
                <elementReference>$Record.Functional_Requirements__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0126A000000YmpVQAS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Inbound</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subtype__c</field>
            <value>
                <stringValue>New Logo</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>voppType</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>188</locationX>
        <locationY>839</locationY>
        <inputAssignments>
            <field>Form_Name__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Functional_Requirements__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Opp_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Time_Opportunity_Created__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Check_Contact</targetReference>
        </connector>
        <filterLogic>((1 AND ( 2 OR 4)) OR 3)</filterLogic>
        <filters>
            <field>Form_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Website RFQ</stringValue>
            </value>
        </filters>
        <filters>
            <field>Is_Opp_Created__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Hubspot_Lifecycle_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales Accepted Lead</stringValue>
            </value>
        </filters>
        <filters>
            <field>Is_Create_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
