force-app/main/default/flows/License_After_Insert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>EDI_SPS_Commerce</name>
        <label>EDI = SPS Commerce</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Account_get.EDI__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SPS Commerce</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountChanged</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Payments_Nodus_Payfabric</name>
        <label>Payments = Nodus Payfabric</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Account_get.Payments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Nodus Payfabric</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountChanged</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Payments_Square</name>
        <label>Payments = Square</label>
        <locationX>1370</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Account_get.Payments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Square</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountChanged</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Shipping_PaceJet</name>
        <label>Shipping = PaceJet</label>
        <locationX>1634</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Account_get.Shipping__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PaceJet</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountChanged</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Tax_Automation_Avalara</name>
        <label>Tax Automation = Avalara</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Account_get.Tax_Automation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Avalara</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountChanged</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Tax_Automation_Thompson_Reuters</name>
        <label>Tax Automation = Thompson Reuters</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Account_get.Tax_Automation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Thompson Reuters</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountChanged</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Warehouse_Mgmt_SalesPad</name>
        <label>Warehouse Mgmt = SalesPad</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Account_get.Warehouse_Mgmt_WMS__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SalesPad</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountChanged</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Changed</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_Changed</name>
        <label>Account Changed?</label>
        <locationX>974</locationX>
        <locationY>731</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Account_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_update</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Software_Module</name>
        <label>Software Module</label>
        <locationX>974</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Account_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CON_EDI_SUB_EDI_Essentials</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Software_Module_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>CON_EDI, SUB_EDI_Essentials</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EDI_SPS_Commerce</targetReference>
            </connector>
            <label>CON_EDI, SUB_EDI_Essentials</label>
        </rules>
        <rules>
            <name>CON_Avalara</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Software_Module_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CON_Avalara</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tax_Automation_Avalara</targetReference>
            </connector>
            <label>CON_Avalara</label>
        </rules>
        <rules>
            <name>CON_ThomsonReuters</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Software_Module_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CON_ThomsonReuters</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tax_Automation_Thompson_Reuters</targetReference>
            </connector>
            <label>CON_ThomsonReuters</label>
        </rules>
        <rules>
            <name>Mobile_AdvancedConsole_WarehouseManagement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Software_Module_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Mobile,AdvancedConsole, WarehouseManagement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Warehouse_Mgmt_SalesPad</targetReference>
            </connector>
            <label>Mobile,AdvancedConsole, WarehouseManagement</label>
        </rules>
        <rules>
            <name>CON_Payfabric</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Software_Module_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CON_Payfabric</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Payments_Nodus_Payfabric</targetReference>
            </connector>
            <label>CON_Payfabric</label>
        </rules>
        <rules>
            <name>CON_Square</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Software_Module_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CON_Square</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Payments_Square</targetReference>
            </connector>
            <label>CON_Square</label>
        </rules>
        <rules>
            <name>CON_Pacejet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Software_Module_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CON_Pacejet</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Shipping_PaceJet</targetReference>
            </connector>
            <label>CON_Pacejet</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>License: After Insert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>License: After Insert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Account_get</name>
        <label>Account</label>
        <locationX>974</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Software_Module</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Account_update</name>
        <label>Account</label>
        <locationX>842</locationX>
        <locationY>839</locationY>
        <inputReference>Account_get</inputReference>
    </recordUpdates>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Account_get</targetReference>
        </connector>
        <object>License__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountChanged</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
