force-app/main/default/flows/Manage_CB_Product_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>NewSubscription</name>
        <choiceText>New Subscription</choiceText>
        <dataType>String</dataType>
    </choices>
    <dynamicChoiceSets>
        <name>Choice_Set</name>
        <dataType>String</dataType>
        <displayField>Concatenate_Fields__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>chargebeeapps__Company__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Account.Id</elementReference>
            </value>
        </filters>
        <object>chargebeeapps__CB_Subscription__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Manage CB Product Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Manage CB Product Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>CB_Managed_Products</name>
        <label>CB Managed Products</label>
        <locationX>512</locationX>
        <locationY>318</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>manage_cb_products</name>
            <extensionName>chargebeeapps:cbManageProducts</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>oppId</name>
                <value>
                    <elementReference>recordId.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>siteSelected</name>
                <value>
                    <stringValue>Cavallo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subscriptionId</name>
                <value>
                    <elementReference>Subscriptions</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Subscription</name>
        <label>Select Subscription</label>
        <locationX>505</locationX>
        <locationY>181</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CB_Managed_Products</targetReference>
        </connector>
        <fields>
            <name>Subscriptions</name>
            <choiceReferences>Choice_Set</choiceReferences>
            <choiceReferences>NewSubscription</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Subscriptions</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>380</locationX>
        <locationY>29</locationY>
        <connector>
            <targetReference>Select_Subscription</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
