force-app/main/default/flows/Opportunity_Before_Insert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Closed_Lost_Date</name>
        <label>Closed Lost Date</label>
        <locationX>1634</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>$Record.Closed_Lost_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Closed_Won_Date</name>
        <label>Closed Won Date</label>
        <locationX>1370</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>$Record.Closed_Won_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contract_Negotiation_Date</name>
        <label>Contract Negotiation Date</label>
        <locationX>1106</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>$Record.Contract_Negotiation_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Demo_Technical_Evaluation_Date</name>
        <label>Demo/Technical Evaluation Date</label>
        <locationX>578</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>$Record.Demo_Technical_Evaluation_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Discovery_Date</name>
        <label>Discovery Date</label>
        <locationX>50</locationX>
        <locationY>1511</locationY>
        <assignmentItems>
            <assignToReference>$Record.Discovery_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Est_Value_Net_ARR</name>
        <label>Est Value = Net ARR</label>
        <locationX>1062</locationX>
        <locationY>1919</locationY>
        <assignmentItems>
            <assignToReference>$Record.Estimated_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Net_ARR_Opp__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opp_Pricebook_CB_Standard</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Estimated_Value_0</name>
        <label>Estimated Value = 0</label>
        <locationX>1392</locationX>
        <locationY>995</locationY>
        <assignmentItems>
            <assignToReference>$Record.Estimated_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Opp_Pricebook_CB_Standard</name>
        <label>Opp &gt; Pricebook = CB Standard</label>
        <locationX>974</locationX>
        <locationY>2195</locationY>
        <assignmentItems>
            <assignToReference>$Record.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cavallo_CBStandard_PricebookId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Proposal_Date</name>
        <label>Proposal Date</label>
        <locationX>842</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>$Record.Proposal_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Qualified_Discovery_Date</name>
        <label>Qualified/Discovery Date</label>
        <locationX>314</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>$Record.Qualified_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SAL_Date_TODAY</name>
        <label>SAL Date = TODAY</label>
        <locationX>50</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>$Record.SAL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SAL_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Discovery_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Partner_for_Margin_Partner_Sourced</name>
        <label>Set Partner for Margin/Partner Sourced</label>
        <locationX>1238</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.Partner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Active_Partner_Client_Relationship.Partner__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Partner_Sourced__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opp_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Uplift_Estimated_Value_ARR</name>
        <label>Est Value = Uplift ARR</label>
        <locationX>622</locationX>
        <locationY>1919</locationY>
        <assignmentItems>
            <assignToReference>$Record.Uplift_ARR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpliftARR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Estimated_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpliftARR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opp_Pricebook_CB_Standard</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Cavallo_CBStandard_PricebookId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>01s3u000006WRxvAAG</stringValue>
        </value>
    </constants>
    <constants>
        <name>NewBusinessRecordTypeID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>012PC000000YPtdYAG</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Net_ARR_populated</name>
        <label>Net ARR populated?</label>
        <locationX>754</locationX>
        <locationY>1811</locationY>
        <defaultConnector>
            <targetReference>Opp_Pricebook_CB_Standard</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Net_ARR_populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Net_ARR_Opp__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Net_ARR_Opp__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Uplift_Estimated_Value_ARR</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Net_ARR_populated_default</name>
        <label>Net ARR populated?</label>
        <locationX>1194</locationX>
        <locationY>1811</locationY>
        <defaultConnector>
            <targetReference>Opp_Pricebook_CB_Standard</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Net_ARR_populated_default</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Net_ARR_Opp__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Net_ARR_Opp__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Est_Value_Net_ARR</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opp_Type</name>
        <label>Type?</label>
        <locationX>1524</locationX>
        <locationY>887</locationY>
        <defaultConnector>
            <targetReference>Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Expansion_Services_only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expansion - Services only</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Estimated_Value_0</targetReference>
            </connector>
            <label>Expansion - Services only</label>
        </rules>
    </decisions>
    <decisions>
        <name>Partner_Client_Relationship_Found</name>
        <label>Active Partner-Client Relationship Found?</label>
        <locationX>1370</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Opp_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Partner_Client_Relationship_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Active_Partner_Client_Relationship</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Partner_for_Margin_Partner_Sourced</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Populate_Partner_for_Margin</name>
        <label>Populate Partner for Margin?</label>
        <locationX>1524</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Opp_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Populate_Partner_for_Margin</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NewBusinessRecordTypeID</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expansion - Current products</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expansion - New products</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expansion - Early renewal with growth</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expansion - Perpetual to subscription conversion</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Active_Partner_Client_Relationship</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type</name>
        <label>Record Type</label>
        <locationX>1524</locationX>
        <locationY>1187</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Business</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Business</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage</targetReference>
            </connector>
            <label>New Business</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stage</name>
        <label>Stage</label>
        <locationX>974</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Discovery</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discovery</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SAL_Date_TODAY</targetReference>
            </connector>
            <label>Discovery</label>
        </rules>
        <rules>
            <name>Qualified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Qualified_Discovery_Date</targetReference>
            </connector>
            <label>Qualified</label>
        </rules>
        <rules>
            <name>Demo_Technical_Evaluation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demo/Technical Evaluation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Demo_Technical_Evaluation_Date</targetReference>
            </connector>
            <label>Demo/Technical Evaluation</label>
        </rules>
        <rules>
            <name>Proposal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proposal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Proposal_Date</targetReference>
            </connector>
            <label>Proposal</label>
        </rules>
        <rules>
            <name>Contract_Negotiation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contract Negotiation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contract_Negotiation_Date</targetReference>
            </connector>
            <label>Contract Negotiation</label>
        </rules>
        <rules>
            <name>Closed_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Closed_Won_Date</targetReference>
            </connector>
            <label>Closed Won</label>
        </rules>
        <rules>
            <name>Closed_Lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Closed_Lost_Date</targetReference>
            </connector>
            <label>Closed Lost</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type</name>
        <label>Type?</label>
        <locationX>974</locationX>
        <locationY>1703</locationY>
        <defaultConnector>
            <targetReference>Net_ARR_populated_default</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Expansion_Early_renewal_with_growth</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expansion - Early renewal with growth</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Net_ARR_populated</targetReference>
            </connector>
            <label>Expansion - Early renewal with growth</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>UpliftARR</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Net_ARR_Opp__c} - ({!$Record.Account.MRR_ROLL_UP__c} * 12)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Opportunity: Before Insert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity: Before Insert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Active_Partner_Client_Relationship</name>
        <label>Active Partner-Client Relationship</label>
        <locationX>1370</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Partner_Client_Relationship_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Client__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Partner_Client_Margin_Eligibility__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Partner_Client_Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1398</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Populate_Partner_for_Margin</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
