force-app/main/default/flows/Opportunity_Change_Order_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>CustomChangeOrderChoice</name>
        <choiceText>Custom - Change Order</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>TriggeringRecordTypeChoice</name>
        <choiceText>{!Triggering_Opportunity.RecordType.Name}</choiceText>
        <dataType>String</dataType>
    </choices>
    <constants>
        <name>CustomChangeOrderRecordTypeId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0123u000000uC1jAAE</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Which_Record_Type_was_selected</name>
        <label>Which Record Type was selected?</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Opportunity_Change_Order_Opp_Quote_Creation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Custom_Change_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CustomChangeOrderChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Triggering_Opp_update_customCO</targetReference>
            </connector>
            <label>Custom - Change Order</label>
        </rules>
        <rules>
            <name>Original_Opp_Record_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TriggeringRecordTypeChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Triggering_Opportunity</targetReference>
            </connector>
            <label>Original Opp Record Type</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity: Change Order Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity: Change Order Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Triggering_Opportunity</name>
        <label>Triggering Opportunity</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Change_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_2_of_Triggering_Opportunity</name>
        <label>Triggering Opportunity</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Opportunity_Change_Order_Opp_Quote_Creation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CO_Record_Type__c</field>
            <value>
                <elementReference>Triggering_Opportunity.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Triggering_Opp_update_customCO</name>
        <label>Triggering Opportunity</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Opportunity_Change_Order_Opp_Quote_Creation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CO_Record_Type__c</field>
            <value>
                <elementReference>CustomChangeOrderRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Create_Change_Order</name>
        <label>Create Change Order</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Which_Record_Type_was_selected</targetReference>
        </connector>
        <fields>
            <name>Record_Type</name>
            <choiceReferences>TriggeringRecordTypeChoice</choiceReferences>
            <choiceReferences>CustomChangeOrderChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Record Type?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Create CO</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Triggering_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Opportunity_Change_Order_Opp_Quote_Creation</name>
        <label>Opportunity: Change Order Opp/Quote Creation</label>
        <locationX>314</locationX>
        <locationY>650</locationY>
        <flowName>Opportunity_Change_Order_Opp_Quote_Creation</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
