force-app/main/default/flows/Opportunity_After_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Alert_That_Opportunity_Was_Closed_Won_bc</name>
        <label>Alert That Opportunity Was Closed Won</label>
        <locationX>583</locationX>
        <locationY>3287</locationY>
        <actionName>Opportunity.Alert_That_Opportunity_Was_Closed_Won</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Acct_Hubspot_Lifecycle_Stage_Customer</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Alert_That_Opportunity_Was_Closed_Won</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>CDEV_Opportunity_Closed_Won</name>
        <label>CDEV Opportunity Closed Won</label>
        <locationX>2338</locationX>
        <locationY>3971</locationY>
        <actionName>Opportunity.Opportunity_Closed_Won</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Opp_Changed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Opportunity_Closed_Won</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Get_Duration_Type</name>
        <label>Get Duration Type</label>
        <locationX>1584</locationX>
        <locationY>431</locationY>
        <actionName>DiscountParser</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Manual_Discount_Duration_Type</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>manualDiscountList</name>
            <value>
                <elementReference>$Record.chargebeeapps__Manual_Discount__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DiscountParser</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Notify_Account_Owner</name>
        <label>Notify Account Owner</label>
        <locationX>1287</locationX>
        <locationY>2579</locationY>
        <actionName>Opportunity.Notify_Account_Owner</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Record_Type</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Notify_Account_Owner</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Opp_Stage_Updated_to_Structure</name>
        <label>Opp Stage Updated to Structure</label>
        <locationX>490</locationX>
        <locationY>4079</locationY>
        <actionName>Opportunity.Opp_Stage_Updated_to_Structure</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Opp_Changed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Opp_Stage_Updated_to_Structure</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Opportunity_Discovery_Stage</name>
        <label>Opportunity Discovery Stage</label>
        <locationX>1546</locationX>
        <locationY>3971</locationY>
        <actionName>Opportunity.Opportunity_Discovery_Stage</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Opp_Changed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Opportunity_Discovery_Stage</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Opportunity_Estimation_Stage</name>
        <label>Opportunity Estimation Stage</label>
        <locationX>1810</locationX>
        <locationY>3971</locationY>
        <actionName>Opportunity.Opportunity_Estimation_Stage</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Opp_Changed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Opportunity_Estimation_Stage</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Opportunity_Proposal_Stage</name>
        <label>Opportunity Proposal Stage</label>
        <locationX>2074</locationX>
        <locationY>3971</locationY>
        <actionName>Opportunity.Opportunity_Proposal_Stage</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Opp_Changed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Opportunity_Proposal_Stage</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Opportunity_Qualify_Stage</name>
        <label>Opportunity Qualify Stage</label>
        <locationX>1282</locationX>
        <locationY>3971</locationY>
        <actionName>Opportunity.Opportunity_Qualify_Stage</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Task</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Opportunity_Qualify_Stage</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Budget_Qualify_Email</name>
        <label>Send Budget Qualify Email</label>
        <locationX>1727</locationX>
        <locationY>2795</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Record_Type</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>AddressCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>customquotes@cavallo.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>QualifySubjectFormula</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>QualifyBodyTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Standard_Custom_Discovery_Notification</name>
        <label>Standard Custom - Discovery Notification</label>
        <locationX>50</locationX>
        <locationY>4079</locationY>
        <actionName>Opportunity.Standard_Custom_Discovery_Notification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Opp_Changed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Standard_Custom_Discovery_Notification</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Acct_Hubspot_Lifecycle_Stage_Customer</name>
        <label>Acct &gt; Hubspot Lifecycle Stage = Customer</label>
        <locationX>583</locationX>
        <locationY>3395</locationY>
        <assignmentItems>
            <assignToReference>Account_get.Hubspot_Lifecycle_Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Customer</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AcctChanged</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Acct_Hubspot_Lifecycle_Stage_Lost</name>
        <label>Acct &gt; Hubspot Lifecycle Stage = Lost</label>
        <locationX>847</locationX>
        <locationY>3287</locationY>
        <assignmentItems>
            <assignToReference>Account_get.Hubspot_Lifecycle_Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Lost</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AcctChanged</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Acct_Type_Client_Direct</name>
        <label>Acct Type = Client - Direct</label>
        <locationX>1232</locationX>
        <locationY>1979</locationY>
        <assignmentItems>
            <assignToReference>Account_get.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Client - Direct</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AcctChanged</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Record_Type_decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Acct_Type_Client_Registered_to_Partner</name>
        <label>Acct Type = Client - Registered to Partner</label>
        <locationX>1496</locationX>
        <locationY>1979</locationY>
        <assignmentItems>
            <assignToReference>Account_get.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Client - Registered to Partner</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AcctChanged</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Record_Type_decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Opp_Product_to_Collection</name>
        <label>Add Opp Product to Collection</label>
        <locationX>1672</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>OpportunityProductCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OpportunityProduct_v</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Pricebook_Entries_loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Partner_Margin_to_Collection</name>
        <label>Add Partner Margin to Collection</label>
        <locationX>803</locationX>
        <locationY>2795</locationY>
        <assignmentItems>
            <assignToReference>Partner_Margin.Partner_Margin_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Lost</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PartnerMarginCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Partner_Margin</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Partner_Margin</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Partner_Margin_to_Collection_btp</name>
        <label>Add Partner Margin to Collection</label>
        <locationX>1331</locationX>
        <locationY>2795</locationY>
        <assignmentItems>
            <assignToReference>Partner_Margin.Partner_Margin_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Billed through Partner</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PartnerMarginCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Partner_Margin</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Partner_Margin</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Partner_Margin_to_Collection_direct</name>
        <label>Add Partner Margin to Collection</label>
        <locationX>1067</locationX>
        <locationY>2795</locationY>
        <assignmentItems>
            <assignToReference>Partner_Margin.Partner_Margin_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PartnerMarginCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Partner_Margin</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Partner_Margin</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Address_Collection</name>
        <label>Address Collection</label>
        <locationX>1727</locationX>
        <locationY>2687</locationY>
        <assignmentItems>
            <assignToReference>AddressCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Contact_Role_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddressCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Budget_Qualify_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initial_Purchase_Date_TODAY</name>
        <label>Initial Purchase Date = TODAY</label>
        <locationX>1496</locationX>
        <locationY>1763</locationY>
        <assignmentItems>
            <assignToReference>Account_get.Initial_Purchase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AcctChanged</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Opp_Product_assign</name>
        <label>Opp Product</label>
        <locationX>1672</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>OpportunityProduct_v.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pricebook_Entries_loop.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityProduct_v.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityProduct_v.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityProduct_v.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pricebook_Entries_loop.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityProduct_v.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pricebook_Entries_loop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Opp_Product_to_Collection</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>TeamCSE_Id</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0053u000004Fb82AAC</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Account_Changed</name>
        <label>Account Changed?</label>
        <locationX>1716</locationX>
        <locationY>4739</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Account_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AcctChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_update</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Account_Type</name>
        <label>Account Type?</label>
        <locationX>1496</locationX>
        <locationY>1871</locationY>
        <defaultConnector>
            <targetReference>Record_Type_decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Prospect_Direct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account_get.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prospect - Direct</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Acct_Type_Client_Direct</targetReference>
            </connector>
            <label>Prospect - Direct</label>
        </rules>
        <rules>
            <name>Prospect_Registered_to_Partner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account_get.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prospect - Registered to Partner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Acct_Type_Client_Registered_to_Partner</targetReference>
            </connector>
            <label>Prospect - Registered to Partner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Add_Onsite_Products_TRUE</name>
        <label>Add Onsite Products = TRUE?</label>
        <locationX>1716</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>Closed_Won_allRecordTypes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Add_Onsite_Products_TRUE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Add_Onsite_Products__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Add_Onsite_Products__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pricebook_Entries</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Closed_Won_allRecordTypes</name>
        <label>Closed Won?</label>
        <locationX>1716</locationX>
        <locationY>1655</locationY>
        <defaultConnector>
            <targetReference>Record_Type_decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Closed_Won_allRecordTypes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Account_get.Initial_Purchase__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initial_Purchase_Date_TODAY</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Custom_Stage_Updated</name>
        <label>Stage Updated?</label>
        <locationX>1891</locationX>
        <locationY>2363</locationY>
        <defaultConnector>
            <targetReference>Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Discovery_Custom_Stage_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discovery</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sales_Engineer_Team_CSE</targetReference>
            </connector>
            <label>Discovery</label>
        </rules>
        <rules>
            <name>Copy_1_of_Qualify</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualify</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Primary_Contact_Role_get</targetReference>
            </connector>
            <label>Qualify</label>
        </rules>
        <rules>
            <name>Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Record_Type</targetReference>
            </connector>
            <label>Closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Primary_Contact_Role</name>
        <label>Found Primary Contact Role?</label>
        <locationX>1859</locationX>
        <locationY>2579</locationY>
        <defaultConnector>
            <targetReference>Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Found_Primary_Contact_Role</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Primary_Contact_Role_get</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Send_Budget_Qualify_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Address_Collection</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Last_Modified_By</name>
        <label>Last Modified By</label>
        <locationX>182</locationX>
        <locationY>3971</locationY>
        <defaultConnector>
            <targetReference>Opp_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CSE_De_Freitas_Hodgson</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LastModifiedBy.LastName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedBy.LastName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>De Freitas</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedBy.LastName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hodgson</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Standard_Custom_Discovery_Notification</targetReference>
            </connector>
            <label>CSE/De Freitas/Hodgson</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opp_Changed</name>
        <label>Opp Changed?</label>
        <locationX>1716</locationX>
        <locationY>4439</locationY>
        <defaultConnector>
            <targetReference>Account_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Opp_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OppChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opp_update</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type</name>
        <label>Record Type?</label>
        <locationX>1716</locationX>
        <locationY>3755</locationY>
        <defaultConnector>
            <targetReference>Opp_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Standard</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Standard</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage_Updated</targetReference>
            </connector>
            <label>Standard</label>
        </rules>
        <rules>
            <name>Custom_Custom_Change_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Custom</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage</targetReference>
            </connector>
            <label>Custom/Custom - Change Order</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type_decision</name>
        <label>Record Type</label>
        <locationX>1716</locationX>
        <locationY>2255</locationY>
        <defaultConnector>
            <targetReference>Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Business_Record_Type_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Business</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage_newBusiness</targetReference>
            </connector>
            <label>New Business</label>
        </rules>
        <rules>
            <name>Custom_Record_Type_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Custom</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Custom_Stage_Updated</targetReference>
            </connector>
            <label>Custom</label>
        </rules>
    </decisions>
    <decisions>
        <name>Running_User</name>
        <label>Running User?</label>
        <locationX>622</locationX>
        <locationY>3971</locationY>
        <defaultConnector>
            <targetReference>Opp_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Megan_or_Team_CSE</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$User.Full_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Team CSE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Full_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Megan De Freitas</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opp_Stage_Updated_to_Structure</targetReference>
            </connector>
            <label>Megan or Team CSE?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sales_Engineer_Team_CSE</name>
        <label>Sales Engineer = Team CSE?</label>
        <locationX>1419</locationX>
        <locationY>2471</locationY>
        <defaultConnector>
            <targetReference>Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Sales_Engineer_Team_CSE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sales_Engineer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TeamCSE_Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Account_Owner</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_Manual_Duration_Type</name>
        <label>Set Manual Duration Type?</label>
        <locationX>1716</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Account_get</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Set_Manual_Duration_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.chargebeeapps__Manual_Discount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Manual_Discount_Duration_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Duration_Type</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stage</name>
        <label>Stage</label>
        <locationX>1942</locationX>
        <locationY>3863</locationY>
        <defaultConnector>
            <targetReference>Opp_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Qualify_custom</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualify</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Qualify_Stage</targetReference>
            </connector>
            <label>Qualify</label>
        </rules>
        <rules>
            <name>Discovery_custom</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discovery</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Discovery_Stage</targetReference>
            </connector>
            <label>Discovery</label>
        </rules>
        <rules>
            <name>Estimation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Estimation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Estimation_Stage</targetReference>
            </connector>
            <label>Estimation</label>
        </rules>
        <rules>
            <name>Proposal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proposal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Proposal_Stage</targetReference>
            </connector>
            <label>Proposal</label>
        </rules>
        <rules>
            <name>Closed_Won_custom</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CDEV_Opportunity_Closed_Won</targetReference>
            </connector>
            <label>Closed Won</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stage_Billing_Type</name>
        <label>Stage / Billing Type?</label>
        <locationX>1199</locationX>
        <locationY>2687</locationY>
        <defaultConnector>
            <targetReference>Partner_Margin</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Closed_Lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Partner_Margin_to_Collection</targetReference>
            </connector>
            <label>Closed Lost</label>
        </rules>
        <rules>
            <name>Closed_Won_Direct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Partner_Margin.Partner_Billing_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Direct</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Partner_Margin_to_Collection_direct</targetReference>
            </connector>
            <label>Closed Won - Direct</label>
        </rules>
        <rules>
            <name>Closed_Won_Bill_through_Partner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Partner_Margin.Partner_Billing_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bill through Partner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Partner_Margin_to_Collection_btp</targetReference>
            </connector>
            <label>Closed Won - Bill through Partner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stage_newBusiness</name>
        <label>Stage</label>
        <locationX>913</locationX>
        <locationY>2363</locationY>
        <defaultConnector>
            <targetReference>Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Closed_newBusiness</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Partner_Margin_get</targetReference>
            </connector>
            <label>Closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stage_Updated</name>
        <label>Stage Updated?</label>
        <locationX>654</locationX>
        <locationY>3863</locationY>
        <defaultConnector>
            <targetReference>Opp_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Discover</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discover</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Last_Modified_By</targetReference>
            </connector>
            <label>Discover</label>
        </rules>
        <rules>
            <name>Structure</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Structure</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Running_User</targetReference>
            </connector>
            <label>Structure</label>
        </rules>
        <rules>
            <name>Closed_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opp_Changed</targetReference>
            </connector>
            <label>Closed Won</label>
        </rules>
    </decisions>
    <decisions>
        <name>Won_Lost</name>
        <label>Won/Lost?</label>
        <locationX>715</locationX>
        <locationY>3179</locationY>
        <defaultConnector>
            <targetReference>Acct_Hubspot_Lifecycle_Stage_Lost</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Lost</defaultConnectorLabel>
        <rules>
            <name>Won_Won_Lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alert_That_Opportunity_Was_Closed_Won_bc</targetReference>
            </connector>
            <label>Won</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Acct_HS_Lifecycle_Stage</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!$Record.StageName}, &apos;Discovery&apos;), &apos;Value Aware&apos;,
  IF(ISPICKVAL({!$Record.StageName}, &apos;Scope&apos;), &apos;Technically Aware&apos;,
      IF(ISPICKVAL({!$Record.StageName}, &apos;Go/No Go&apos;), &apos;Commit&apos;,
          IF(ISPICKVAL({!$Record.StageName}, &apos;Business Case/ROI&apos;), &apos;Align&apos;,
            IF(ISPICKVAL({!$Record.StageName}, &apos;TVE/POC&apos;), &apos;Prove&apos;,
              IF(ISPICKVAL({!$Record.StageName}, &apos;Contractual&apos;), &apos;Kickoff&apos;,
                IF(ISPICKVAL({!$Record.StageName}, &apos;Closed Won&apos;), &apos;Customer&apos;, {!TEXT(Account_get.Hubspot_Lifecycle_Stage__c}))))))))</expression>
    </formulas>
    <formulas>
        <name>QualifySubjectFormula</name>
        <dataType>String</dataType>
        <expression>&apos;Cavallo Custom Development - &apos; + {!$Record.Name}</expression>
    </formulas>
    <formulas>
        <name>SubjectFormula</name>
        <dataType>String</dataType>
        <expression>&apos;Custom Opportunity Discovery Stage -&apos; +  {!$Record.Name}</expression>
    </formulas>
    <interviewLabel>Opportunity: After Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity: After Update</label>
    <loops>
        <name>Partner_Margin</name>
        <label>Partner Margin</label>
        <locationX>715</locationX>
        <locationY>2579</locationY>
        <collectionReference>Partner_Margin_get</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Stage_Billing_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Partner_Margins</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Pricebook_Entries_loop</name>
        <label>Pricebook Entries</label>
        <locationX>1584</locationX>
        <locationY>1055</locationY>
        <collectionReference>Pricebook_Entries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Opp_Product_assign</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Opportunity_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Opportunity_Products</name>
        <label>Opportunity Products</label>
        <locationX>1584</locationX>
        <locationY>1463</locationY>
        <connector>
            <targetReference>Closed_Won_allRecordTypes</targetReference>
        </connector>
        <inputReference>OpportunityProductCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Task</name>
        <label>Task</label>
        <locationX>1282</locationX>
        <locationY>4079</locationY>
        <connector>
            <targetReference>Opp_Changed</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Account_get</name>
        <label>Account</label>
        <locationX>1716</locationX>
        <locationY>731</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Onsite_Products_TRUE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Partner_Margin_get</name>
        <label>Partner Margin</label>
        <locationX>715</locationX>
        <locationY>2471</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Partner_Margin</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Partner_Margin__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Pricebook_Entries</name>
        <label>Pricebook Entries</label>
        <locationX>1584</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Pricebook_Entries_loop</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Pricebook2Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TravelExpensesProductId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ConsultingOnsiteProductId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ConsultingPMServicesProductId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Primary_Contact_Role_get</name>
        <label>Primary Contact Role</label>
        <locationX>1859</locationX>
        <locationY>2471</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Primary_Contact_Role</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsPrimary</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Account_update</name>
        <label>Account</label>
        <locationX>1584</locationX>
        <locationY>4847</locationY>
        <inputReference>Account_get</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Manual_Discount_Duration_Type</name>
        <label>Manual Discount Duration Type</label>
        <locationX>1584</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Account_get</targetReference>
        </connector>
        <inputAssignments>
            <field>Manual_Discount_Duration_Type__c</field>
            <value>
                <elementReference>Get_Duration_Type</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Opp_update</name>
        <label>Opp</label>
        <locationX>1584</locationX>
        <locationY>4547</locationY>
        <connector>
            <targetReference>Account_Changed</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Partner_Margins</name>
        <label>Partner Margins</label>
        <locationX>715</locationX>
        <locationY>3071</locationY>
        <connector>
            <targetReference>Won_Lost</targetReference>
        </connector>
        <inputReference>PartnerMarginCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>1590</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Manual_Duration_Type</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>QualifyBodyTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!$Record.Primary_Contact_Name__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;We have performed an introductory review of your request for {!$Record.Name} and we have assigned a preliminary estimate amount of ${!$Record.Amount} for this custom development project. If you would like to proceed, we will continue with further investigation in order to finalize the requirements and further refine the estimate.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please respond to this email if you approve this preliminary estimate amount and would like us to continue scoping these requirements. If approved, Cavallo may reach out to schedule a discovery call to further discuss requirements. A Budgetary Estimate document will be provided for your review once the requirements and estimate have been finalized. Signing that document will initiate the custom development project.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If you do not wish to move forward, no action is needed, as this preliminary estimate will expire in 30 days. You may respond to decline if you wish it to be closed immediately.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Record.Budget_Qualification_Note__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank you,&lt;/p&gt;&lt;p&gt;Cavallo Custom Development Team&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>AcctChanged</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>AddressCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ConsultingOnsiteProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>01t6A000000KiAJQA0</stringValue>
        </value>
    </variables>
    <variables>
        <name>ConsultingPMServicesProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>01t6A000003B2CCQA0</stringValue>
        </value>
    </variables>
    <variables>
        <name>OppChanged</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>OpportunityProduct_v</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>OpportunityProductCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>PartnerMarginCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Partner_Margin__c</objectType>
    </variables>
    <variables>
        <name>PartnerMarginsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Partner_Margin__c</objectType>
    </variables>
    <variables>
        <name>TravelExpensesProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>01t3u000006y1XBAAY</stringValue>
        </value>
    </variables>
</Flow>
