force-app/main/default/flows/Opportunity_Change_Order_Opp_Quote_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add Contact Role to Collection</label>
        <locationX>59</locationX>
        <locationY>960</locationY>
        <assignmentItems>
            <assignToReference>NewContactRoles</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContactRoleAssignment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Contact_Roles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Loop through contact role one by one</description>
        <name>Assign_Contact_Role_One_by_One</name>
        <label>Contact Role</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>ContactRoleAssignment.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CO_Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRoleAssignment.IsPrimary</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Contact_Roles.IsPrimary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRoleAssignment.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Contact_Roles.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRoleAssignment.Role</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Contact_Roles.Role</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_LineItemsto_Collections</name>
        <label>Add Quote Line Item to Collection</label>
        <locationX>542</locationX>
        <locationY>2336</locationY>
        <assignmentItems>
            <assignToReference>QuoteLineItemsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QuoteLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Pricebook_Entries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Map Original Opportunity fields to Change Order Opportunity</description>
        <name>Assign_Opportunity_Fields</name>
        <label>CO Opp Fields from Original Opp</label>
        <locationX>653</locationX>
        <locationY>409</locationY>
        <assignmentItems>
            <assignToReference>CO_Opportunity.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COOpportunityName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CO_Opportunity.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CO_Opportunity.Partner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Record.Partner__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CO_Opportunity.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Expansion - Services only</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CO_Opportunity.Product_Line_s__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Desktop</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CO_Opportunity.Opportunity_Source_Global__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Professional Services</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CO_Opportunity.Sales_Engineer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Record.Sales_Engineer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CO_Opportunity.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CO_Opportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Discovery</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CO_Opportunity.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Record.Pricebook2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CO_Opportunity.Original_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CO_Opportunity.Billing_Preference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Record.Billing_Preference__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CO_Opportunity.Project_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Record.Project_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CO_Opportunity.COOpp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CO_Opportunity.Use_New_Pricing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Record.Use_New_Pricing__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CO_Opportunity.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CustomChangeOrderRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateCOpportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Map Original Opportunity fields to Change Order Opportunity</description>
        <name>Assign_Opportunity_Fields_0</name>
        <label>CO Opp Fields from Original Opp</label>
        <locationX>375</locationX>
        <locationY>406</locationY>
        <assignmentItems>
            <assignToReference>CO_Opportunity.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COOpportunityName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CO_Opportunity.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CO_Opportunity.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Expansion - Services only</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CO_Opportunity.Product_Line_s__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Desktop</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CO_Opportunity.Sales_Engineer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Record.Sales_Engineer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CO_Opportunity.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CO_Opportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Discovery</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CO_Opportunity.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Record.Pricebook2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CO_Opportunity.Original_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CO_Opportunity.Billing_Preference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Record.Billing_Preference__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CO_Opportunity.Project_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CO_Opportunity.COOpp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CO_Opportunity.Use_New_Pricing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Record.Use_New_Pricing__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CO_Opportunity.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Triggering_Opportunity.RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CO_Opportunity.Opportunity_Source_Global__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Professional Services</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CO_Opportunity.Opportunity_SubSource_Global__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Change Order</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateCOpportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_QuoteLineItem</name>
        <label>Quote Line Item</label>
        <locationX>750</locationX>
        <locationY>2335</locationY>
        <assignmentItems>
            <assignToReference>QuoteLineItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Pricebook_Entries.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineItem.QuoteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewCOQuote.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineItem.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Pricebook_Entries.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineItem.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Pricebook_Entries.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_LineItemsto_Collections</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Co_Quote</name>
        <label>CO Quote</label>
        <locationX>742</locationX>
        <locationY>1402</locationY>
        <assignmentItems>
            <assignToReference>NewCOQuote.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CO_Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCOQuote.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CO_Opportunity.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCOQuote.Billing_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Time and Materials</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCOQuote.PM_Service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>15</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCOQuote.ExpirationDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCOQuote.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CO_Opportunity.Pricebook2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCOQuote.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Original_Quote.RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Quote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Co_Quote_0</name>
        <label>CO Quote</label>
        <locationX>285</locationX>
        <locationY>1402</locationY>
        <assignmentItems>
            <assignToReference>NewCOQuote.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CO_Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCOQuote.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CO_Opportunity.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCOQuote.Billing_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Time and Materials</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCOQuote.PM_Service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>15</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCOQuote.ExpirationDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>X14DaysInFuture</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCOQuote.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CO_Opportunity.Pricebook2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCOQuote.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Original_Quote.RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Quote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Record_Assignment</name>
        <label>Record</label>
        <locationX>275</locationX>
        <locationY>214</locationY>
        <assignmentItems>
            <assignToReference>Record</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Triggering_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CO_Record_Type</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>CustomChangeOrderRecordTypeId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0123u000000uC1jAAE</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_OCR</name>
        <label>Original Opp Contact Roles Found?</label>
        <locationX>515</locationX>
        <locationY>932</locationY>
        <defaultConnector>
            <targetReference>Original_Quote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Has_Contact_Roels</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_contact_Roles</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Contact_Roles</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CO_Opp_Record_Type</name>
        <label>CO Opp Record Type</label>
        <locationX>510</locationX>
        <locationY>1243</locationY>
        <defaultConnector>
            <targetReference>Create_Co_Quote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Custom - Change Order</defaultConnectorLabel>
        <rules>
            <name>Match_Original_Opp_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Triggering_Opportunity.CO_Record_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>CustomChangeOrderRecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Co_Quote_0</targetReference>
            </connector>
            <label>Match Original Opp</label>
        </rules>
    </decisions>
    <decisions>
        <name>CO_Record_Type</name>
        <label>CO Record Type?</label>
        <locationX>497</locationX>
        <locationY>179</locationY>
        <defaultConnector>
            <targetReference>Assign_Opportunity_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Custom - Change Order</defaultConnectorLabel>
        <rules>
            <name>Match_Original_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Triggering_Opportunity.CO_Record_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>CustomChangeOrderRecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Opportunity_Fields_0</targetReference>
            </connector>
            <label>Match Original Opp</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Pricebook_entry</name>
        <label>Price Book Found?</label>
        <locationX>516</locationX>
        <locationY>1704</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Is_Pricebook_entry1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote_Records.Pricebook2Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Running_User_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Running_User_0</name>
        <label>Running User?</label>
        <locationX>519</locationX>
        <locationY>1887</locationY>
        <defaultConnector>
            <targetReference>Get_Pricebook_Entry_Pm_Services</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Project_Manager_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Project Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Pricebook_Entry_Pm_Services_0</targetReference>
            </connector>
            <label>Project Manager</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CloseDate</name>
        <dataType>Date</dataType>
        <expression>{!Record.CloseDate}+14</expression>
    </formulas>
    <formulas>
        <name>COOpportunityName</name>
        <dataType>String</dataType>
        <expression>&quot;ChangeOrder - &quot;+{!Record.Name}</expression>
    </formulas>
    <formulas>
        <name>X14DaysInFuture</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 14</expression>
    </formulas>
    <interviewLabel>Opportunity: Change Order Opp/Quote Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity: Change Order Opp/Quote Creation</label>
    <loops>
        <name>Loop_through_Contact_Roles</name>
        <label>Original Opp Contact Roles</label>
        <locationX>242</locationX>
        <locationY>747</locationY>
        <collectionReference>Get_contact_Roles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Contact_Role_One_by_One</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_OCR</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Pricebook_Entries</name>
        <label>Loop Through Pricebook Entries</label>
        <locationX>533</locationX>
        <locationY>2118</locationY>
        <collectionReference>Get_Pricebook_Entry_Pm_Services</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_QuoteLineItem</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Quote_Line_items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_OCR</name>
        <label>Opp Contact Roles</label>
        <locationX>255</locationX>
        <locationY>1073</locationY>
        <connector>
            <targetReference>Original_Quote</targetReference>
        </connector>
        <inputReference>NewContactRoles</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Quote</name>
        <label>CO Quote</label>
        <locationX>521</locationX>
        <locationY>1409</locationY>
        <connector>
            <targetReference>Get_Quote_Records</targetReference>
        </connector>
        <inputReference>NewCOQuote</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Quote_Line_items</name>
        <label>Quote Line Items</label>
        <locationX>369</locationX>
        <locationY>2348</locationY>
        <inputReference>QuoteLineItemsCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateCOpportunity</name>
        <label>CO Opp</label>
        <locationX>523</locationX>
        <locationY>583</locationY>
        <connector>
            <targetReference>Get_contact_Roles</targetReference>
        </connector>
        <inputReference>CO_Opportunity</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_contact_Roles</name>
        <label>Original Opp Contact Roles</label>
        <locationX>523</locationX>
        <locationY>752</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_OCR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pricebook_Entry_Pm_Services</name>
        <label>Price Book Entry</label>
        <locationX>697</locationX>
        <locationY>1992</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Pricebook_Entries</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Record.Pricebook2Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Consulting_PM_services</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Cosnulting</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pricebook_Entry_Pm_Services_0</name>
        <label>Price Book Entry</label>
        <locationX>305</locationX>
        <locationY>1996</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Pricebook_Entries</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Record.Pricebook2Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Cosnulting</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Records</name>
        <label>CO Quote</label>
        <locationX>525</locationX>
        <locationY>1549</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Pricebook_entry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewCOQuote.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Pricebook2Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Original_Quote</name>
        <label>Original Quote</label>
        <locationX>518</locationX>
        <locationY>1084</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CO_Opp_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsSyncing</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Triggering_Opportunity</name>
        <label>Triggering Opportunity</label>
        <locationX>277</locationX>
        <locationY>69</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>401</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Triggering_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Assign Consulting Product</description>
        <name>AssignConsulting</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>AssignPMServices</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>CO_Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>ContactRoleAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>NewContactRoles</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>NewCOQuote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>NewPricebookEntry</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <description>Add PM Services and Consulting Line Items</description>
        <name>OpportunityCOLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>QuoteLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>QuoteLineItemsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
