force-app/main/default/flows/Opportunity_After_Insert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Duration_Type</name>
        <label>Get Duration Type</label>
        <locationX>248</locationX>
        <locationY>431</locationY>
        <actionName>DiscountParser</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Manual_Discount_Duration_Type</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>manualDiscountList</name>
            <value>
                <elementReference>$Record.chargebeeapps__Manual_Discount__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DiscountParser</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Enhancement_Software_halved</name>
        <label>Enhancement/Software % halved</label>
        <locationX>50</locationX>
        <locationY>1355</locationY>
        <assignmentItems>
            <assignToReference>Partner_Margin_get.Enhancement_Partner_Margin_Y1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HalvedEnhancementFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Partner_Margin_get.Software_Partner_Margin_Y1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HalvedSoftwareFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Partner_Margin_update</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>EvanID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0053u000004G2TRAA0</stringValue>
        </value>
    </constants>
    <constants>
        <name>SohoStudioCorpAccountId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0016A000009I33sQAC</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Assign_Acct_HS_Lifecycle_Stage</name>
        <label>Set Acct &gt; HS Lifecycle Stage?</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>Partner_Influenced</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Logo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Hubspot_Lifecycle_Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Acct_HS_Lifecycle_Stage_Sales_Qualified_Opp</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Manual_Discount_populated</name>
        <label>Manual Discount populated?</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Manual_Discount_populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.chargebeeapps__Manual_Discount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Duration_Type</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Partner_Influenced</name>
        <label>Partner Influenced?</label>
        <locationX>182</locationX>
        <locationY>1139</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Partner_Influenced</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Partner_Influenced__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Partner_Margin_get</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type</name>
        <label>Record Type</label>
        <locationX>380</locationX>
        <locationY>731</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Business</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Business</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Acct_HS_Lifecycle_Stage</targetReference>
            </connector>
            <label>New Business</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>HalvedEnhancementFormula</name>
        <dataType>Number</dataType>
        <expression>{!Partner_Margin_get.Enhancement_Partner_Margin_Y1__c}/2</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>HalvedSoftwareFormula</name>
        <dataType>Number</dataType>
        <expression>{!Partner_Margin_get.Software_Partner_Margin_Y1__c}/2</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>SERequestSubjectFormula</name>
        <dataType>String</dataType>
        <expression>&quot;Assigned SE to &quot; + {!$Record.Name}</expression>
    </formulas>
    <interviewLabel>Opportunity: After Insert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity: After Insert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Partner_Margin_get</name>
        <label>Partner Margin</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Enhancement_Software_halved</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Partner_Margin__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Acct_HS_Lifecycle_Stage_Sales_Qualified_Opp</name>
        <label>Acct &gt; HS Lifecycle Stage = Sales Qualified Opp</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>Partner_Influenced</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Hubspot_Lifecycle_Stage__c</field>
            <value>
                <stringValue>Sales Qualified Opportunity</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Manual_Discount_Duration_Type</name>
        <label>Manual Discount Duration Type</label>
        <locationX>248</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Record_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>Manual_Discount_Duration_Type__c</field>
            <value>
                <elementReference>Get_Duration_Type</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Partner_Margin_update</name>
        <label>Partner Margin</label>
        <locationX>50</locationX>
        <locationY>1463</locationY>
        <inputReference>Partner_Margin_get</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Manual_Discount_populated</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>SERequestBodyTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!$Record.Sales_Engineer__r.FirstName},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You&apos;ve been assigned as SE to &lt;a href=&quot;https://salespad.lightning.force.com/lightning/r/Opportunity/%7B!Triggering_Opp.Id%7D/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!$Record.Name}&lt;/a&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Opportunity Owner: {!$Record.Owner.FirstName} &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!&lt;/span&gt;$Record&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;.Owner.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Opportunity Type: {!$Record.Type}&lt;/p&gt;&lt;p&gt;Account Name: {!$Record.Account.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thanks,&lt;/p&gt;&lt;p&gt;Cavallo SF Team&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>AddressCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
