force-app/main/default/flows/Opportunity_After_Update_New_Business.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Converted_to_NB_from_Custom</name>
        <label>Converted to NB from Custom</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <actionName>Opportunity.Converted_to_NB_from_Custom</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Partner_Influenced_Changed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Converted_to_NB_from_Custom</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Acct_HS_Lifecycle_Stage_Customer</name>
        <label>Acct &gt; HS Lifecycle Stage = Customer</label>
        <locationX>314</locationX>
        <locationY>1739</locationY>
        <assignmentItems>
            <assignToReference>Account_get.Hubspot_Lifecycle_Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Customer</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AcctChanged</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stage_newBusiness</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Acct_HS_Lifecycle_Stage_Lost</name>
        <label>Acct &gt; HS Lifecycle Stage = Lost</label>
        <locationX>578</locationX>
        <locationY>1739</locationY>
        <assignmentItems>
            <assignToReference>Account_get.Hubspot_Lifecycle_Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Lost</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AcctChanged</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stage_newBusiness</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Acct_HS_Lifecycle_Stage_Sales_Qualified_Opportunity</name>
        <label>Acct &gt; HS Lifecycle Stage = Sales Qualified Opportunity</label>
        <locationX>50</locationX>
        <locationY>1739</locationY>
        <assignmentItems>
            <assignToReference>Account_get.Hubspot_Lifecycle_Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sales Qualified Opportunity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AcctChanged</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stage_newBusiness</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Partner_Margin_to_Collection</name>
        <label>Add Partner Margin to Collection</label>
        <locationX>402</locationX>
        <locationY>2363</locationY>
        <assignmentItems>
            <assignToReference>Partner_Margin.Partner_Margin_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Lost</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PartnerMarginCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Partner_Margin</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Partner_Margin</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Partner_Margin_to_Collection_btp</name>
        <label>Add Partner Margin to Collection</label>
        <locationX>930</locationX>
        <locationY>2363</locationY>
        <assignmentItems>
            <assignToReference>Partner_Margin.Partner_Margin_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Billed through Partner</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PartnerMarginCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Partner_Margin</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Partner_Margin</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Partner_Margin_to_Collection_direct</name>
        <label>Add Partner Margin to Collection</label>
        <locationX>666</locationX>
        <locationY>2363</locationY>
        <assignmentItems>
            <assignToReference>Partner_Margin.Partner_Margin_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PartnerMarginCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Partner_Margin</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Partner_Margin</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Enhancement_Software_Doubled</name>
        <label>Enhancement/Software % Doubled</label>
        <locationX>666</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>Partner_Margins_1_loop.Enhancement_Partner_Margin_Y1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DoubledEnhancementFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Partner_Margins_1_loop.Software_Partner_Margin_Y1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DoubledSoftwareFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PartnerMarginCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Partner_Margins_1_loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Partner_Margins_1_loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Enhancement_Software_Halved</name>
        <label>Enhancement/Software % Halved</label>
        <locationX>402</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>Partner_Margins_1_loop.Enhancement_Partner_Margin_Y1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HalvedEnhancementFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Partner_Margins_1_loop.Software_Partner_Margin_Y1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HalvedSoftwareFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PartnerMarginCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Partner_Margins_1_loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Partner_Margins_1_loop</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>SystemAdminId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>00e6A000001BM4j</stringValue>
        </value>
    </constants>
    <constants>
        <name>TeamCSE_Id</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0053u000004Fb82AAC</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Account_Changed</name>
        <label>Account Changed?</label>
        <locationX>446</locationX>
        <locationY>2831</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Account_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AcctChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_update</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assign_Acct_HS_Lifecycle_Stage</name>
        <label>Assign Acct &gt; HS Lifecycle Stage?</label>
        <locationX>446</locationX>
        <locationY>1631</locationY>
        <defaultConnector>
            <targetReference>Stage_newBusiness</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sales_Qualified_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Logo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Account_get.Hubspot_Lifecycle_Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Customer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Account_get.Hubspot_Lifecycle_Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sales Qualified Opportunity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Acct_HS_Lifecycle_Stage_Sales_Qualified_Opportunity</targetReference>
            </connector>
            <label>Sales Qualified Opportunity</label>
        </rules>
        <rules>
            <name>Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Logo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Account_get.Hubspot_Lifecycle_Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Acct_HS_Lifecycle_Stage_Customer</targetReference>
            </connector>
            <label>Customer</label>
        </rules>
        <rules>
            <name>Lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Logo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Account_get.Hubspot_Lifecycle_Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Customer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Account_get.Hubspot_Lifecycle_Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Acct_HS_Lifecycle_Stage_Lost</targetReference>
            </connector>
            <label>Lost</label>
        </rules>
    </decisions>
    <decisions>
        <name>Custom_New_Business</name>
        <label>Custom -&gt; New Business?</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Partner_Influenced_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Custom_New_Business</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Custom</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Business</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sales_Engineer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TeamCSE_Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Converted_to_NB_from_Custom</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Partner_Influenced_Changed</name>
        <label>Partner Influenced Changed?</label>
        <locationX>446</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>Assign_Acct_HS_Lifecycle_Stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Partner_Influenced_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Partner_Influenced__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Partner_Margins_1_get</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Partner_Influenced_State</name>
        <label>Partner Influenced State?</label>
        <locationX>534</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Enhancement_Software_Doubled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Partner_Influenced__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enhancement_Software_Halved</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stage_Billing_Type</name>
        <label>Stage / Billing Type?</label>
        <locationX>798</locationX>
        <locationY>2255</locationY>
        <defaultConnector>
            <targetReference>Partner_Margin</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Closed_Lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Partner_Margin_to_Collection</targetReference>
            </connector>
            <label>Closed Lost</label>
        </rules>
        <rules>
            <name>Closed_Won_Direct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Partner_Margin.Partner_Billing_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Direct</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Partner_Margin_to_Collection_direct</targetReference>
            </connector>
            <label>Closed Won - Direct</label>
        </rules>
        <rules>
            <name>Closed_Won_Bill_through_Partner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Partner_Margin.Partner_Billing_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bill through Partner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Partner_Margin_to_Collection_btp</targetReference>
            </connector>
            <label>Closed Won - Bill through Partner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stage_newBusiness</name>
        <label>Stage</label>
        <locationX>446</locationX>
        <locationY>1931</locationY>
        <defaultConnector>
            <targetReference>Account_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Closed_newBusiness</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Partner_Margin_get</targetReference>
            </connector>
            <label>Closed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DoubledEnhancementFormula</name>
        <dataType>Number</dataType>
        <expression>{!Partner_Margins_1_loop.Enhancement_Partner_Margin_Y1__c}*2</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>DoubledSoftwareFormula</name>
        <dataType>Number</dataType>
        <expression>{!Partner_Margins_1_loop.Software_Partner_Margin_Y1__c}*2</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>HalvedEnhancementFormula</name>
        <dataType>Number</dataType>
        <expression>{!Partner_Margins_1_loop.Enhancement_Partner_Margin_Y1__c}/2</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>HalvedSoftwareFormula</name>
        <dataType>Number</dataType>
        <expression>{!Partner_Margins_1_loop.Software_Partner_Margin_Y1__c}/2</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>QualifySubjectFormula</name>
        <dataType>String</dataType>
        <expression>&apos;Cavallo Custom Development - &apos; + {!$Record.Name}</expression>
    </formulas>
    <formulas>
        <name>SubjectFormula</name>
        <dataType>String</dataType>
        <expression>&apos;Custom Opportunity Discovery Stage -&apos; +  {!$Record.Name}</expression>
    </formulas>
    <interviewLabel>Opportunity: After Update - New Business {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity: After Update - New Business</label>
    <loops>
        <name>Partner_Margin</name>
        <label>Partner Margin</label>
        <locationX>314</locationX>
        <locationY>2147</locationY>
        <collectionReference>Partner_Margin_get</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Stage_Billing_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Partner_Margins</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Partner_Margins_1_loop</name>
        <label>Partner Margins</label>
        <locationX>314</locationX>
        <locationY>947</locationY>
        <collectionReference>Partner_Margins_1_get</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Partner_Influenced_State</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Partner_Margin_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Account_get</name>
        <label>Account</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Custom_New_Business</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Partner_Margin_get</name>
        <label>Partner Margin</label>
        <locationX>314</locationX>
        <locationY>2039</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Partner_Margin</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Partner_Margin__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Partner_Margins_1_get</name>
        <label>Partner Margins</label>
        <locationX>314</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Partner_Margins_1_loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Partner_Margin__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Account_update</name>
        <label>Account</label>
        <locationX>314</locationX>
        <locationY>2939</locationY>
        <inputReference>Account_get</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Partner_Margin_Collection</name>
        <label>Partner Margin Collection</label>
        <locationX>314</locationX>
        <locationY>1439</locationY>
        <connector>
            <targetReference>Assign_Acct_HS_Lifecycle_Stage</targetReference>
        </connector>
        <inputReference>PartnerMarginCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Partner_Margins</name>
        <label>Partner Margins</label>
        <locationX>314</locationX>
        <locationY>2639</locationY>
        <connector>
            <targetReference>Account_Changed</targetReference>
        </connector>
        <inputReference>PartnerMarginCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Account_get</targetReference>
        </connector>
        <filterFormula>{!$Record.RecordType.Name} == &apos;New Business&apos;</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>QualifyBodyTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!$Record.Primary_Contact_Name__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;We have performed an introductory review of your request for {!$Record.Name} and we have assigned a preliminary estimate amount of ${!$Record.Amount} for this custom development project. If you would like to proceed, we will continue with further investigation in order to finalize the requirements and further refine the estimate.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please respond to this email if you approve this preliminary estimate amount and would like us to continue scoping these requirements. If approved, Cavallo may reach out to schedule a discovery call to further discuss requirements. A Budgetary Estimate document will be provided for your review once the requirements and estimate have been finalized. Signing that document will initiate the custom development project.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If you do not wish to move forward, no action is needed, as this preliminary estimate will expire in 30 days. You may respond to decline if you wish it to be closed immediately.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Record.Budget_Qualification_Note__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank you,&lt;/p&gt;&lt;p&gt;Cavallo Custom Development Team&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>AcctChanged</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>AddressCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ConsultingOnsiteProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>01t6A000000KiAJQA0</stringValue>
        </value>
    </variables>
    <variables>
        <name>ConsultingPMServicesProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>01t6A000003B2CCQA0</stringValue>
        </value>
    </variables>
    <variables>
        <name>OppChanged</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>OpportunityProduct_v</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>OpportunityProductCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>PartnerMarginCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Partner_Margin__c</objectType>
    </variables>
    <variables>
        <name>TravelExpensesProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>01t3u000006y1XBAAY</stringValue>
        </value>
    </variables>
</Flow>
