force-app/main/default/flows/Opportunity_SE_Request_Sub_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SE_Request_Email</name>
        <label>SE Request Email</label>
        <locationX>314</locationX>
        <locationY>1382</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Triggering_Opp_update</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>AddressCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>notifications@cavallo.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>SERequestSubjectFormula</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>SERequestBodyTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Evan_Remove_Mike</name>
        <label>Add Evan, Remove Mike</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>Evan_Lile_User.Opp_Round_Robin__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MikeNumberRemove</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Mike_Raden_User.Opp_Round_Robin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MikeRemoveFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Mike_Evan_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Mike_Evan_to_Collection</name>
        <label>Add Mike/Evan to Collection</label>
        <locationX>314</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>MikeEvanUserRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Evan_Lile_User</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Mike_Evan</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Address_Collection</name>
        <label>Address Collection</label>
        <locationX>314</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>AddressCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Triggering_Opp.Sales_Engineer__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddressCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Triggering_Opp.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SE_Request_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_SE_Evan</name>
        <label>SE = Evan</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Triggering_Opp.Sales_Engineer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EvanLileId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_SE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SE_Evan</name>
        <label>SE = Evan</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Triggering_Opp.Sales_Engineer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EvanLileId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_SE</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>EvanLileId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0053u000004G2TRAA0</stringValue>
        </value>
    </constants>
    <constants>
        <name>MikeRadenId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0053u000004G2RfAAK</stringValue>
        </value>
    </constants>
    <decisions>
        <name>New_SE</name>
        <label>New SE?</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Add_Mike_Evan_to_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Evan_New_SE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Triggering_Opp.Sales_Engineer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>EvanLileId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Evan_Remove_Mike</targetReference>
            </connector>
            <label>Evan</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opp_Type</name>
        <label>Opp Type?</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>New_SE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Logo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Triggering_Opp.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Logo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_SE_Evan</targetReference>
            </connector>
            <label>New Logo</label>
        </rules>
        <rules>
            <name>Expansion</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Triggering_Opp.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expansion - Current products</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Triggering_Opp.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expansion - New products</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Triggering_Opp.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expansion - Early renewal with growth</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Triggering_Opp.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expansion - Perpetual to subscription conversion</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SE_Evan</targetReference>
            </connector>
            <label>Expansion</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>EvanRemoveFormula</name>
        <dataType>String</dataType>
        <expression>IF(
    CONTAINS({!Evan_Lile_User.Opp_Round_Robin__c}, {!EvanNumberRemove}),
    LEFT({!Evan_Lile_User.Opp_Round_Robin__c}, FIND({!EvanNumberRemove}, {!Evan_Lile_User.Opp_Round_Robin__c}) - 1) &amp; MID({!Evan_Lile_User.Opp_Round_Robin__c}, FIND({!EvanNumberRemove},{!Evan_Lile_User.Opp_Round_Robin__c}) + 1, LEN({!Evan_Lile_User.Opp_Round_Robin__c}) - FIND({!EvanNumberRemove}, {!Evan_Lile_User.Opp_Round_Robin__c})),
    {!Evan_Lile_User.Opp_Round_Robin__c}
)</expression>
    </formulas>
    <formulas>
        <name>MikeRemoveFormula</name>
        <dataType>String</dataType>
        <expression>IF(
    CONTAINS({!Mike_Raden_User.Opp_Round_Robin__c}, {!MikeNumberRemove}),
    LEFT({!Mike_Raden_User.Opp_Round_Robin__c}, FIND({!MikeNumberRemove}, {!Mike_Raden_User.Opp_Round_Robin__c}) - 1) &amp; MID({!Mike_Raden_User.Opp_Round_Robin__c}, FIND({!MikeNumberRemove},{!Mike_Raden_User.Opp_Round_Robin__c}) + 1, LEN({!Mike_Raden_User.Opp_Round_Robin__c}) - FIND({!MikeNumberRemove}, {!Mike_Raden_User.Opp_Round_Robin__c})),
    {!Mike_Raden_User.Opp_Round_Robin__c}
)</expression>
    </formulas>
    <formulas>
        <name>SERequestSubjectFormula</name>
        <dataType>String</dataType>
        <expression>&quot;Assigned SE to &quot; + {!Triggering_Opp.Name}</expression>
    </formulas>
    <interviewLabel>Opportunity: SE Request Sub Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity: SE Request Sub Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Evan_Lile_User</name>
        <label>Evan Lile User</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Mike_Raden_User</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EvanLileId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Mike_Raden_User</name>
        <label>Mike Raden User</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Triggering_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MikeRadenId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Triggering_Opp</name>
        <label>Triggering Opp</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opp_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Mike_Evan</name>
        <label>Mike/Evan</label>
        <locationX>314</locationX>
        <locationY>1166</locationY>
        <connector>
            <targetReference>Address_Collection</targetReference>
        </connector>
        <inputReference>MikeEvanUserRecords</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Triggering_Opp_update</name>
        <label>Triggering Opp</label>
        <locationX>314</locationX>
        <locationY>1490</locationY>
        <inputReference>Triggering_Opp</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Evan_Lile_User</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>SERequestBodyTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!Triggering_Opp.Sales_Engineer__r.FirstName},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You&apos;ve been assigned as SE to &lt;a href=&quot;https://salespad.lightning.force.com/lightning/r/Opportunity/{!Triggering_Opp.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Triggering_Opp.Name}&lt;/a&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Opportunity Owner: {!Triggering_Opp.Owner.FirstName} &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Triggering_Opp.Owner.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Opportunity Type: {!Triggering_Opp.Type}&lt;/p&gt;&lt;p&gt;Account Name: {!Triggering_Opp.Account.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thanks,&lt;/p&gt;&lt;p&gt;Cavallo SF Team&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>AddressCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EvanNumberRemove</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MikeEvanUserRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>MikeNumberRemove</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
