force-app/main/default/flows/Opportunity_After_Update_Custom.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Budget_Qualify_Email</name>
        <label>Budget Qualify Email</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Budget_Qualify_Related_Fields</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>AddressCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>customquotes@cavallo.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>QualifySubjectFormula</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>QualifyBodyTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>CDEV_Opportunity_Closed_Won</name>
        <label>CDEV Opportunity Closed Won</label>
        <locationX>1458</locationX>
        <locationY>431</locationY>
        <actionName>Opportunity.Opportunity_Closed_Won</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Opp_Changed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Opportunity_Closed_Won</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Opportunity_Discovery_Stage</name>
        <label>Opportunity Discovery Stage</label>
        <locationX>666</locationX>
        <locationY>431</locationY>
        <actionName>Opportunity.Opportunity_Discovery_Stage</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Opp_Changed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Opportunity_Discovery_Stage</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Opportunity_Estimation_Stage</name>
        <label>Opportunity Estimation Stage</label>
        <locationX>930</locationX>
        <locationY>431</locationY>
        <actionName>Opportunity.Opportunity_Estimation_Stage</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Opp_Changed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Opportunity_Estimation_Stage</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Opportunity_Proposal_Stage</name>
        <label>Opportunity Proposal Stage</label>
        <locationX>1194</locationX>
        <locationY>431</locationY>
        <actionName>Opportunity.Opportunity_Proposal_Stage</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Opp_Changed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Opportunity_Proposal_Stage</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Opportunity_Qualify_Stage</name>
        <label>Opportunity Qualify Stage</label>
        <locationX>336</locationX>
        <locationY>431</locationY>
        <actionName>Opportunity.Opportunity_Qualify_Stage</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Send_Budget_Qualify_Email_decision</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Opportunity_Qualify_Stage</nameSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Address_Collection_assignment</name>
        <label>Address Collection</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>AddressCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Contact_Role_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddressCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddressCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>customquotes@cavallo.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Budget_Qualify_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Budget_Qualify_Related_Fields</name>
        <label>Budget Qualify Related Fields</label>
        <locationX>50</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>$Record.Send_Budget_Qualify_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppChanged</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Budget_Qualify_Email_Sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opp_Changed</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>BudgetQualifyTemplateID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>2F00XPC0000029MZf</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Found_Primary_Contact_Role</name>
        <label>Found Primary Contact Role?</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Opp_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Found_Primary_Contact_Role</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Primary_Contact_Role_get</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Send_Budget_Qualify_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Address_Collection_assignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opp_Changed</name>
        <label>Opp Changed?</label>
        <locationX>1029</locationX>
        <locationY>1439</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Opp_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OppChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opp</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Budget_Qualify_Email_decision</name>
        <label>Send Budget Qualify Email?</label>
        <locationX>336</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Opp_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Send_Budget_Qualify_Email_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Send_Budget_Qualify_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Primary_Contact_Role_get</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stage</name>
        <label>Stage</label>
        <locationX>1029</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Opp_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Qualify_custom</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualify</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Qualify_Stage</targetReference>
            </connector>
            <label>Qualify</label>
        </rules>
        <rules>
            <name>Discovery_custom</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discovery</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Discovery_Stage</targetReference>
            </connector>
            <label>Discovery</label>
        </rules>
        <rules>
            <name>Estimation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Estimation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Estimation_Stage</targetReference>
            </connector>
            <label>Estimation</label>
        </rules>
        <rules>
            <name>Proposal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proposal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Proposal_Stage</targetReference>
            </connector>
            <label>Proposal</label>
        </rules>
        <rules>
            <name>Closed_Won_custom</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CDEV_Opportunity_Closed_Won</targetReference>
            </connector>
            <label>Closed Won</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>PrimaryContactRoleFullName</name>
        <dataType>String</dataType>
        <expression>{!Primary_Contact_Role_get.Contact.FirstName} + &apos; &apos; + {!Primary_Contact_Role_get.Contact.Email}</expression>
    </formulas>
    <formulas>
        <name>QualifySubjectFormula</name>
        <dataType>String</dataType>
        <expression>&apos;Cavallo Custom Development - &apos; + {!$Record.Account.Name} + &apos; - &apos; + {!$Record.Name}</expression>
    </formulas>
    <formulas>
        <name>SubjectFormula</name>
        <dataType>String</dataType>
        <expression>&apos;Cavallo Custom Opportunity Discovery Stage - &apos; +  {!$Record.Name}</expression>
    </formulas>
    <interviewLabel>Opportunity: After Update - Custom {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity: After Update - Custom/CO</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Primary_Contact_Role_get</name>
        <label>Primary Contact Role</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Primary_Contact_Role</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsPrimary</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Opp</name>
        <label>Opp</label>
        <locationX>897</locationX>
        <locationY>1547</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>903</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Stage</targetReference>
        </connector>
        <filterFormula>{!$Record.RecordType.Name} == &apos;Custom&apos; || {!$Record.RecordType.DeveloperName} == &apos;Change_Order_NEW&apos;</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>QualifyBodyTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!$Record.Primary_Contact_Name__c},&lt;/p&gt;&lt;p&gt;We have performed an introductory review of your request for {!$Record.Name} and we have assigned a preliminary estimate amount of ${!$Record.Amount} for this custom development project. If you would like to proceed, we will continue with further investigation in order to finalize the requirements and further refine the estimate.&lt;/p&gt;&lt;p&gt;Please respond to this email if you approve this preliminary estimate amount and would like us to continue scoping these requirements. If approved, Cavallo may reach out to schedule a discovery call to further discuss requirements. A Budgetary Estimate document will be provided for your review once the requirements and estimate have been finalized. Signing that document will initiate the custom development project.&lt;/p&gt;&lt;p&gt;If you do not wish to move forward, no action is needed, as this preliminary estimate will expire in 30 days. You may respond to decline if you wish it to be closed immediately.&lt;/p&gt;&lt;p&gt;{!$Record.Budget_Qualification_Note__c}&lt;/p&gt;&lt;p&gt;Thank you,&lt;/p&gt;&lt;p&gt;Cavallo Custom Development Team&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>AcctChanged</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>AddressCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ConsultingOnsiteProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>01t6A000000KiAJQA0</stringValue>
        </value>
    </variables>
    <variables>
        <name>ConsultingPMServicesProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>01t6A000003B2CCQA0</stringValue>
        </value>
    </variables>
    <variables>
        <name>OppChanged</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>OpportunityProduct_v</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>OpportunityProductCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>PartnerMarginCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Partner_Margin__c</objectType>
    </variables>
    <variables>
        <name>PartnerMarginsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Partner_Margin__c</objectType>
    </variables>
    <variables>
        <name>TravelExpensesProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>01t3u000006y1XBAAY</stringValue>
        </value>
    </variables>
</Flow>
