force-app/main/default/flows/Partner_Margin_Before_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>PM_Credit_Note</name>
        <label>PM &gt; Credit Note</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.CB_Credit_Note__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Most_Recent_CB_Credit_Note.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Set_PM_Credit_Note</name>
        <label>Set PM &gt; Credit Note?</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Set_PM_Credit_Note</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CB_Credit_Note__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CB_Credit_Note__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Most_Recent_CB_Credit_Note.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Most_Recent_CB_Credit_Note</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PM_Credit_Note</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Partner Margin: Before Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Partner Margin: Before Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Most_Recent_CB_Credit_Note</name>
        <label>Most Recent CB Credit Note</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_PM_Credit_Note</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>chargebeeapps__Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CB_Invoice__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>chargebeeapps__CB_Credit_Note__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Most_Recent_CB_Credit_Note</targetReference>
        </connector>
        <object>Partner_Margin__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
