force-app/main/default/flows/Partner_Relationship_Updates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>setFieldValues</name>
        <label>setFieldValues</label>
        <locationX>505</locationX>
        <locationY>594</locationY>
        <assignmentItems>
            <assignToReference>$Record.Partner_Client_Margin_Eligibility__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>CheckforEligibility</name>
        <label>CheckforEligibility</label>
        <locationX>495</locationX>
        <locationY>367</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckforEligibilityInactive</name>
            <conditionLogic>(1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Margin_End_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Margin_End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Partner_of_Record_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Former</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setFieldValues</targetReference>
            </connector>
            <label>CheckforEligibilityInactive</label>
        </rules>
        <rules>
            <name>CheckPartnerRelationshipName</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>PartnerRelationshipName</elementReference>
                </rightValue>
            </conditions>
            <label>CheckPartnerRelationshipName</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Partner Relationship Updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Partner Relationship Updates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>376</locationX>
        <locationY>68</locationY>
        <connector>
            <targetReference>CheckforEligibility</targetReference>
        </connector>
        <object>Partner_Client_Relationship__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>PartnerRelationshipName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Relationship: {!$Record.Partner__r.Name} - {!$Record.Client__r.Name} </stringValue>
        </value>
    </variables>
</Flow>
