force-app/main/default/flows/Partner_Client_Relationship_Monthly_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>setEligibility</name>
        <label>setEligibility</label>
        <locationX>502</locationX>
        <locationY>808</locationY>
        <assignmentItems>
            <assignToReference>loopThroughRecords.Partner_Client_Margin_Eligibility__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Needs Review</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IDSet</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughRecords.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopThroughRecords</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckDay</name>
        <label>CheckDay</label>
        <locationX>485</locationX>
        <locationY>299</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckMonthDay</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MonthDay</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PCMonthlyDay</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getPartnerClientRepRecords</targetReference>
            </connector>
            <label>CheckMonthDay</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>MonthDay</name>
        <dataType>Number</dataType>
        <expression>DAY({!$Flow.CurrentDate})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>PCMonthlyDay</name>
        <dataType>Number</dataType>
        <expression>VALUE({!$Label.PC_Monthly_Run_Day})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Partner Client Relationship Monthly Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Partner Client Relationship Monthly Flow</label>
    <loops>
        <name>loopThroughRecords</name>
        <label>loopThroughRecords</label>
        <locationX>502</locationX>
        <locationY>635</locationY>
        <collectionReference>getPartnerClientRepRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>setEligibility</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateRecords</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getPartnerClientRepRecords</name>
        <label>getPartnerClientRepRecords</label>
        <locationX>505</locationX>
        <locationY>463</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopThroughRecords</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Partner_Client_Margin_Eligibility__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>License_Sales_Last_3_Years__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>License_Sales_Last_3_Years__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Partner_Client_Relationship__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Partner_Client_Margin_Eligibility__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateRecords</name>
        <label>updateRecords</label>
        <locationX>755</locationX>
        <locationY>788</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>IDSet</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Partner_Client_Margin_Eligibility__c</field>
            <value>
                <stringValue>Needs Review</stringValue>
            </value>
        </inputAssignments>
        <object>Partner_Client_Relationship__c</object>
    </recordUpdates>
    <start>
        <locationX>372</locationX>
        <locationY>38</locationY>
        <connector>
            <targetReference>CheckDay</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-11-27</startDate>
            <startTime>02:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>IDSet</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
