force-app/main/default/flows/Partner_Margin_Before_Insert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Enhancement_Software_Halved</name>
        <label>Enhancement/Software % Halved</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>$Record.Enhancement_Partner_Margin_Y1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HalvedEnhancementFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Software_Partner_Margin_Y1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HalvedSoftwareFormula</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Partner_Billing_Type_Margin_Duration</name>
        <label>Partner Billing Type / Margin Duration</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>$Record.Partner_Billing_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Partner__r.Bill_through_Partner__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Partner_Margin_Duration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>On-going</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opp_Partner_Influenced</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PM_Credit_Note</name>
        <label>PM &gt; Credit Note</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.CB_Credit_Note__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Most_Recent_CB_Credit_Note.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Partner_Billing_Type_Margin_Duration</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Opp_Partner_Influenced</name>
        <label>Opp &gt; Partner Influenced?</label>
        <locationX>182</locationX>
        <locationY>803</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Opp_Partner_Influenced</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Partner_Influenced__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enhancement_Software_Halved</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_PM_Credit_Note</name>
        <label>Set PM &gt; Credit Note?</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Partner_Billing_Type_Margin_Duration</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Set_PM_Credit_Note</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CB_Credit_Note__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CB_Credit_Note__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Most_Recent_CB_Credit_Note.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Most_Recent_CB_Credit_Note</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PM_Credit_Note</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>HalvedEnhancementFormula</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Enhancement_Partner_Margin_Y1__c}/2</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>HalvedSoftwareFormula</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Software_Partner_Margin_Y1__c}/2</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Partner Margin: Before Insert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Partner Margin: Before Insert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Most_Recent_CB_Credit_Note</name>
        <label>Most Recent CB Credit Note</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_PM_Credit_Note</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>chargebeeapps__Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CB_Invoice__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>chargebeeapps__CB_Credit_Note__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Most_Recent_CB_Credit_Note</targetReference>
        </connector>
        <object>Partner_Margin__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
