force-app/main/default/flows/Partner_Tier_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>setActiveStatus</name>
        <label>setActiveStatus</label>
        <locationX>690</locationX>
        <locationY>481</locationY>
        <assignmentItems>
            <assignToReference>$Record.PartnerTier_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>setStatus</name>
        <label>setStatus</label>
        <locationX>519</locationX>
        <locationY>476</locationY>
        <assignmentItems>
            <assignToReference>$Record.PartnerTier_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>checkPartnerIsPast</name>
        <label>checkPartnerIsPast</label>
        <locationX>499</locationX>
        <locationY>304</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckEndDate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Partner_Tier_End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Partner_Tier_End_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PartnerTier_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Needs Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setStatus</targetReference>
            </connector>
            <label>CheckEndDate</label>
        </rules>
        <rules>
            <name>EndDateFuture</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Partner_Tier_End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Partner_Tier_End_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PartnerTier_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Needs Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setActiveStatus</targetReference>
            </connector>
            <label>EndDateFuture</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Partner Tier Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Partner Tier Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>373</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>checkPartnerIsPast</targetReference>
        </connector>
        <object>Partner_Tier__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
