force-app/main/default/flows/Perpetual_Line_items_Verbiage_Copy.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Perpetual_Products</name>
        <label>Check Perpetual Products</label>
        <locationX>3086</locationX>
        <locationY>371</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Salespad_GP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product2.ProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DGP00019</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Comments</targetReference>
            </connector>
            <label>Salespad - GP?</label>
        </rules>
        <rules>
            <name>SalesPadGPEnhancement_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product2.ProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DPE00022</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GP_Enhancment_Comments</targetReference>
            </connector>
            <label>SalesPadGPEnhancement Product?</label>
        </rules>
        <rules>
            <name>TeleSales_Enhancement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product2.ProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DGP00025</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TeleSales_Enahncement_Comments_Update</targetReference>
            </connector>
            <label>TeleSales Enhancement</label>
        </rules>
        <rules>
            <name>Extended_PAck</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product2.ProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DGP00020</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GP_Extended_Pack</targetReference>
            </connector>
            <label>Extended Pack</label>
        </rules>
        <rules>
            <name>GP_Extended_Pack_Enhancement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product2.ProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DPE00023</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GP_Extended_Pack_Enh_Comments</targetReference>
            </connector>
            <label>GP Extended Pack Enhancement</label>
        </rules>
        <rules>
            <name>Connector_CT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product2.ProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DGP00007</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Connector_CaseTracker</targetReference>
            </connector>
            <label>Connector- CT</label>
        </rules>
        <rules>
            <name>Connector_CT_Enhancement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product2.ProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DPE00007</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Connector_CTEnhancement_Comments</targetReference>
            </connector>
            <label>Connector- CT Enhancement</label>
        </rules>
        <rules>
            <name>Dispatch_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product2.ProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DGP00015</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dispatch_Comments</targetReference>
            </connector>
            <label>Dispatch?</label>
        </rules>
        <rules>
            <name>Dispatch_Enhancement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product2.ProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DPE00018</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dispatch_Enhancement_Comments</targetReference>
            </connector>
            <label>Dispatch Enhancement?</label>
        </rules>
        <rules>
            <name>DataCollectionClientcCheck</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product2.ProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DGP00012</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DataCollection</targetReference>
            </connector>
            <label>DataCollectionClient?</label>
        </rules>
        <rules>
            <name>DCClientEnhancement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product2.ProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DPE00014</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DC_Client_Enh</targetReference>
            </connector>
            <label>DCClientEnhancement</label>
        </rules>
        <rules>
            <name>DCMobileCheck</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product2.ProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DGP00014</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DC_MobileComments</targetReference>
            </connector>
            <label>DCMobile</label>
        </rules>
        <rules>
            <name>DCMobEnahncement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DPE00017</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DcMobile_EnahncementComments</targetReference>
            </connector>
            <label>DCMobEnahncement</label>
        </rules>
        <rules>
            <name>DC_EW_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DGP00013</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DC_EW_Comments</targetReference>
            </connector>
            <label>DC-EW Check?</label>
        </rules>
        <rules>
            <name>DCEW_Enhancement_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DPE00016</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DCEW_Enhancement_Comments</targetReference>
            </connector>
            <label>DCEW-Enhancement Check?</label>
        </rules>
        <rules>
            <name>AA_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product2.ProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DGP00001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AA_Comments</targetReference>
            </connector>
            <label>AA Check?</label>
        </rules>
        <rules>
            <name>AA_Enhancment_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product2.ProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DPE00001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AA_Enhancement_Comments</targetReference>
            </connector>
            <label>AA Enhancment Check?</label>
        </rules>
        <rules>
            <name>Web_API_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DGP00027</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Web_API_Comments</targetReference>
            </connector>
            <label>Web API Check?</label>
        </rules>
        <rules>
            <name>Web_API_Enhancement_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DPE00030</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Web_API_Enhancement_Comments</targetReference>
            </connector>
            <label>Web API Enhancement Check?</label>
        </rules>
        <rules>
            <name>Mobile_Bundle_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product2.ProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DGP00016</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MB_Comments</targetReference>
            </connector>
            <label>Mobile Bundle Check?</label>
        </rules>
        <rules>
            <name>MB_Enhancement_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product2.ProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DPE00019</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MB_Enhancement_Comments</targetReference>
            </connector>
            <label>MB - Enhancement Check?</label>
        </rules>
        <rules>
            <name>NodusCCA_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product2.ProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DGP00017</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NodusCCA_Comments</targetReference>
            </connector>
            <label>NodusCCA Check?</label>
        </rules>
        <rules>
            <name>NodusEnhancement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product2.ProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DPE00020</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NodusEnhancementComments</targetReference>
            </connector>
            <label>NodusEnhancement</label>
        </rules>
    </decisions>
    <description>Proration Calculations are deactivated in this flow version.</description>
    <environments>Default</environments>
    <formulas>
        <name>AA</name>
        <dataType>String</dataType>
        <expression>&apos;List Price: 7,695.00 per GP Site ID&apos;</expression>
    </formulas>
    <formulas>
        <name>AAEnhancement</name>
        <dataType>String</dataType>
        <expression>&apos;Annual Enhancement per GP Site ID(365 days): $&apos;+ TEXT( FLOOR( {!Var_ListPrice}) ) + &quot;.&quot; + RIGHT( TEXT( ( 1 + {!Var_ListPrice}- FLOOR( {!Var_ListPrice}) ) * 100 ), 2 )</expression>
    </formulas>
    <formulas>
        <name>CaseTracker</name>
        <dataType>String</dataType>
        <expression>&apos;List Price: $2,495.00 per GP Site ID&apos;</expression>
    </formulas>
    <formulas>
        <name>ConnectorCTEnhancement</name>
        <dataType>String</dataType>
        <expression>&apos;Annual Enhancement per concurrent user (365 days): $&apos;+ TEXT( FLOOR( {!Var_ListPrice}) ) + &quot;.&quot; + RIGHT( TEXT( ( 1 + {!Var_ListPrice}- FLOOR( {!Var_ListPrice}) ) * 100 ), 2 )</expression>
    </formulas>
    <formulas>
        <name>DataCollectionClient</name>
        <dataType>String</dataType>
        <expression>&apos;List Price: $5,495 per concurrent user&apos;</expression>
    </formulas>
    <formulas>
        <name>DataCollectionClientEnhancement</name>
        <dataType>String</dataType>
        <expression>&apos;Annual Enhancement per concurrent user(365 days): $&apos;+ TEXT( FLOOR( {!Var_ListPrice}) ) + &quot;.&quot; + RIGHT( TEXT( ( 1 + {!Var_ListPrice}- FLOOR( {!Var_ListPrice}) ) * 100 ), 2 )</expression>
    </formulas>
    <formulas>
        <name>DCEW</name>
        <dataType>String</dataType>
        <expression>&apos;List Price: $5,495.00 per GP Site ID&apos;</expression>
    </formulas>
    <formulas>
        <name>DCEWEnhancement</name>
        <dataType>String</dataType>
        <expression>&apos;Annual Enhancement per GP Site ID(365 days): $&apos;+ TEXT( FLOOR( {!Var_ListPrice}) ) + &quot;.&quot; + RIGHT( TEXT( ( 1 + {!Var_ListPrice}- FLOOR( {!Var_ListPrice}) ) * 100 ), 2 )</expression>
    </formulas>
    <formulas>
        <name>DCMobile</name>
        <dataType>String</dataType>
        <expression>&apos;List Price: $2,195.00 per handheld device&apos; + BR() +&apos;Note: Hardware is not included and will need to be purchased separately&apos;</expression>
    </formulas>
    <formulas>
        <name>DCMobileEnhancement</name>
        <dataType>String</dataType>
        <expression>&apos;Annual Enhancement per handheld device(365 days): $&apos;+ TEXT( FLOOR( {!Var_ListPrice}) ) + &quot;.&quot; + RIGHT( TEXT( ( 1 + {!Var_ListPrice}- FLOOR( {!Var_ListPrice}) ) * 100 ), 2 )</expression>
    </formulas>
    <formulas>
        <name>Dispatch</name>
        <dataType>String</dataType>
        <expression>&apos;List Price: $9,995.00 per GP Site ID&apos;</expression>
    </formulas>
    <formulas>
        <name>DispatchEnhancement</name>
        <dataType>String</dataType>
        <expression>&apos;Annual Enhancement per GP Site ID(365 days): $&apos;+ TEXT( FLOOR( {!Var_ListPrice}) ) + &quot;.&quot; + RIGHT( TEXT( ( 1 + {!Var_ListPrice}- FLOOR( {!Var_ListPrice}) ) * 100 ), 2 )</expression>
    </formulas>
    <formulas>
        <name>GPExtendedPackEnhancement</name>
        <dataType>String</dataType>
        <expression>&apos;Annual Enhancement per GP Site ID(365 days): $&apos;+ TEXT( FLOOR( {!Var_ListPrice}) ) + &quot;.&quot; + RIGHT( TEXT( ( 1 + {!Var_ListPrice}- FLOOR( {!Var_ListPrice}) ) * 100 ), 2 )</expression>
    </formulas>
    <formulas>
        <name>MBEnhancments</name>
        <dataType>String</dataType>
        <expression>&apos;Annual Enhancement per named user(365 days): $&apos;+ TEXT( FLOOR( {!Var_ListPrice}) ) + &quot;.&quot; + RIGHT( TEXT( ( 1 + {!Var_ListPrice}- FLOOR( {!Var_ListPrice}) ) * 100 ), 2 )</expression>
    </formulas>
    <formulas>
        <name>MobileBundle</name>
        <dataType>String</dataType>
        <expression>&apos;List Price: $660.00 per named user&apos; +BR()+ &apos;Note: Hardware is not included and will need to be purchased separately&apos;</expression>
    </formulas>
    <formulas>
        <name>NodusCCA</name>
        <dataType>String</dataType>
        <expression>&apos;List Price: $5,000.00 per GP Site ID&apos;</expression>
    </formulas>
    <formulas>
        <name>NodusEnahncement</name>
        <dataType>String</dataType>
        <expression>&apos;Annual Enhancement per GP Site ID(365 days): $&apos;+ TEXT( FLOOR( {!Var_ListPrice}) ) + &quot;.&quot; + RIGHT( TEXT( ( 1 + {!Var_ListPrice}- FLOOR( {!Var_ListPrice}) ) * 100 ), 2 )</expression>
    </formulas>
    <formulas>
        <name>SalesPadGP</name>
        <dataType>String</dataType>
        <expression>&quot;List Price: $2,795 per concurrent user&quot;</expression>
    </formulas>
    <formulas>
        <name>SalesPadGPEnhancement</name>
        <dataType>String</dataType>
        <expression>&apos;Annual Enhancement per concurrent user (365 days): $ &apos; + TEXT( FLOOR( {!Var_ListPrice}) ) + &quot;.&quot; + RIGHT( TEXT( ( 1 + {!Var_ListPrice}- FLOOR( {!Var_ListPrice}) ) * 100 ), 2 )</expression>
    </formulas>
    <formulas>
        <name>SalespadGPExtendedPack</name>
        <dataType>String</dataType>
        <expression>&apos;List Price: $5,495.00 per GP Site ID&apos;</expression>
    </formulas>
    <formulas>
        <name>TeleSalesEnhancement</name>
        <dataType>String</dataType>
        <expression>&apos;Annual Enhancement per GP Site ID (365 days): $&apos;+ TEXT( FLOOR( {!Var_ListPrice}) ) + &quot;.&quot; + RIGHT( TEXT( ( 1 + {!Var_ListPrice}- FLOOR( {!Var_ListPrice}) ) * 100 ), 2 )</expression>
    </formulas>
    <formulas>
        <name>WebAPI</name>
        <dataType>String</dataType>
        <expression>&apos;List Price: $4,995.00 per GP Site ID&apos;</expression>
    </formulas>
    <formulas>
        <name>WebAPIEnhancement</name>
        <dataType>String</dataType>
        <expression>&apos;Annual Enhancement per GP Site ID(365 days): $&apos;+ TEXT( FLOOR( {!Var_ListPrice}) ) + &quot;.&quot; + RIGHT( TEXT( ( 1 + {!Var_ListPrice}- FLOOR( {!Var_ListPrice}) ) * 100 ), 2 )</expression>
    </formulas>
    <interviewLabel>Perpetual Line items Verbiage Copy {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Perpetual Line items Verbiage</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>AA_Comments</name>
        <label>AA Comments</label>
        <locationX>4010</locationX>
        <locationY>479</locationY>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>AA</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AA_Enhancement_Comments</name>
        <label>AA Enhancement Comments</label>
        <locationX>4330</locationX>
        <locationY>530</locationY>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>AAEnhancement</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Connector_CaseTracker</name>
        <label>Connector-CaseTracker</label>
        <locationX>1370</locationX>
        <locationY>479</locationY>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>CaseTracker</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Connector_CTEnhancement_Comments</name>
        <label>Connector - CTEnhancement Comments</label>
        <locationX>1634</locationX>
        <locationY>479</locationY>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>ConnectorCTEnhancement</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>DataCollection</name>
        <label>DataCollectionClient</label>
        <locationX>2426</locationX>
        <locationY>479</locationY>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>DataCollectionClient</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>DC_Client_Enh</name>
        <label>DC- Client Enh</label>
        <locationX>2690</locationX>
        <locationY>479</locationY>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>DataCollectionClientEnhancement</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>DC_EW_Comments</name>
        <label>DC-EW Comments</label>
        <locationX>3482</locationX>
        <locationY>479</locationY>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>DCEW</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>DC_MobileComments</name>
        <label>DC-MobileComments</label>
        <locationX>2954</locationX>
        <locationY>479</locationY>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>DCMobile</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>DCEW_Enhancement_Comments</name>
        <label>DCEW-Enhancement Comments</label>
        <locationX>3746</locationX>
        <locationY>479</locationY>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>DCEWEnhancement</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>DcMobile_EnahncementComments</name>
        <label>DcMobile EnhancementComments</label>
        <locationX>3218</locationX>
        <locationY>479</locationY>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>DCMobileEnhancement</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Dispatch_Comments</name>
        <label>Dispatch Comments</label>
        <locationX>1898</locationX>
        <locationY>479</locationY>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>Dispatch</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Dispatch_Enhancement_Comments</name>
        <label>Dispatch-Enhancement Comments</label>
        <locationX>2162</locationX>
        <locationY>479</locationY>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>DispatchEnhancement</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>GP_Enhancment_Comments</name>
        <label>GP Enhancment Comments</label>
        <locationX>315</locationX>
        <locationY>479</locationY>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>SalesPadGPEnhancement</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>GP_Extended_Pack</name>
        <label>GP Extended Pack</label>
        <locationX>842</locationX>
        <locationY>479</locationY>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>SalespadGPExtendedPack</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>GP_Extended_Pack_Enh_Comments</name>
        <label>GP Extended Pack Enh Comments</label>
        <locationX>1106</locationX>
        <locationY>479</locationY>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>GPExtendedPackEnhancement</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>MB_Comments</name>
        <label>MB Comments?</label>
        <locationX>5066</locationX>
        <locationY>479</locationY>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>MobileBundle</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>MB_Enhancement_Comments</name>
        <label>MB Enhancement Comments</label>
        <locationX>5330</locationX>
        <locationY>479</locationY>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>MBEnhancments</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>NodusCCA_Comments</name>
        <label>NodusCCA Comments</label>
        <locationX>5594</locationX>
        <locationY>479</locationY>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>NodusCCA</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>NodusEnhancementComments</name>
        <label>NodusEnhancementComments</label>
        <locationX>5858</locationX>
        <locationY>479</locationY>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>NodusEnahncement</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>TeleSales_Enahncement_Comments_Update</name>
        <label>TeleSales Enahncement Comments Update</label>
        <locationX>577</locationX>
        <locationY>479</locationY>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>TeleSalesEnhancement</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Comments</name>
        <label>Update Comments</label>
        <locationX>50</locationX>
        <locationY>479</locationY>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>SalesPadGP</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Web_API_Comments</name>
        <label>Web API Comments</label>
        <locationX>4538</locationX>
        <locationY>479</locationY>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>WebAPI</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Web_API_Enhancement_Comments</name>
        <label>Web API Enhancement Comments</label>
        <locationX>4802</locationX>
        <locationY>479</locationY>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>WebAPIEnhancement</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>2960</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Check_Perpetual_Products</targetReference>
        </connector>
        <object>QuoteLineItem</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Var_ListPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>$Record.PricebookEntry.UnitPrice</elementReference>
        </value>
    </variables>
</Flow>
