force-app/main/default/flows/PMProductScheduledFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>PMMarginCheck</name>
        <label>PMMarginCheck</label>
        <locationX>432</locationX>
        <locationY>362</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PMMarginBtP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Partner_Margin__r.Partner_Margin_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Initial Purchase</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Partner_Margin__r.Partner_Billing_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bill through Partner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updatePMProduct</targetReference>
            </connector>
            <label>PMMarginBtP</label>
        </rules>
        <rules>
            <name>PMMarginDirect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Partner_Margin__r.Partner_Margin_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Initial Purchase</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Partner_Margin__r.Partner_Billing_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Direct</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updatePMDirectType</targetReference>
            </connector>
            <label>PMMarginDirect</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CalTotalPriceOriginal</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Opportunity_Product__r.TotalPrice} + {!$Record.Opportunity_Product__r.Partner_Payment_OppProduct__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>PMProductScheduledFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PMProductScheduledFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>updatePMDirectType</name>
        <label>updatePMDirectType</label>
        <locationX>676</locationX>
        <locationY>460</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity_Product__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Price_Original__c</field>
            <value>
                <elementReference>$Record.Opportunity_Product__r.TotalPrice</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updatePMProduct</name>
        <label>updatePMProduct</label>
        <locationX>208</locationX>
        <locationY>448</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity_Product__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Price_Original__c</field>
            <value>
                <elementReference>CalTotalPriceOriginal</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>311</locationX>
        <locationY>48</locationY>
        <object>Partner_Margin_Product__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>After_1_Minutes</name>
            <connector>
                <targetReference>PMMarginCheck</targetReference>
            </connector>
            <label>After 1 Minutes</label>
            <maxBatchSize>50</maxBatchSize>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
