force-app/main/default/flows/Quote_Before_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Quote_Auto_Approved_FALSE</name>
        <label>Quote &gt; Auto Approved = FALSE</label>
        <locationX>801</locationX>
        <locationY>1018</locationY>
        <assignmentItems>
            <assignToReference>$Record.Auto_Approved__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Quote_Changed_after_Approval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Quote_Auto_Approved_TRUE</name>
        <label>Quote &gt; Auto Approved = TRUE</label>
        <locationX>644</locationX>
        <locationY>875</locationY>
        <assignmentItems>
            <assignToReference>$Record.Auto_Approved__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Quote_Changed_after_Approval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Status_Draft</name>
        <label>Status = Draft</label>
        <locationX>504</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>CB_Opp_Discount_Partner_Margin_Discount</name>
        <label>CB Opp Discount = Partner Margin Discount?</label>
        <locationX>859</locationX>
        <locationY>789</locationY>
        <defaultConnector>
            <targetReference>Quote_Auto_Approved_FALSE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_CB_Opp_Discount_Partner_Margin_Discount</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>CB_Opportunity_Coupon.Discount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Partner_Margin.Software_Partner_Margin_Y1__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CB_Opportunity_Coupon.Discount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Discount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Quote_Auto_Approved_TRUE</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opp_Record_Type</name>
        <label>Opp Record Type</label>
        <locationX>490</locationX>
        <locationY>315</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Business</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Business</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Partner_Margin</targetReference>
            </connector>
            <label>New Business</label>
        </rules>
    </decisions>
    <decisions>
        <name>Partner_Billing_Type_Bill_through_Partner</name>
        <label>Partner Billing Type = Bill through Partner?</label>
        <locationX>490</locationX>
        <locationY>676</locationY>
        <defaultConnector>
            <targetReference>Quote_Changed_after_Approval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Partner_Billing_Type_Bill_through_Partner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Partner_Margin.Partner_Billing_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bill through Partner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CB_Opportunity_Coupon</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quote_Changed_after_Approval</name>
        <label>Quote Changed after Approval?</label>
        <locationX>494</locationX>
        <locationY>919</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Quote_Changed_after_Approval</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Discount</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_Discount_Forever__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Discount_Term_Length__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_Draft</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Quote: Before Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote: Before Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>CB_Opportunity_Coupon</name>
        <label>CB Opportunity Coupon</label>
        <locationX>704</locationX>
        <locationY>677</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CB_Opp_Discount_Partner_Margin_Discount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>chargebeeapps__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>chargebeeapps__CB_Opportunity_Coupon__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Partner_Margin</name>
        <label>Partner Margin</label>
        <locationX>498</locationX>
        <locationY>504</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Partner_Billing_Type_Bill_through_Partner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Partner_Margin__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>372</locationX>
        <locationY>47</locationY>
        <connector>
            <targetReference>Opp_Record_Type</targetReference>
        </connector>
        <object>Quote</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Var_Submitted_By_Flow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>This quote is submitted for approval as discount or term is increased.</stringValue>
        </value>
    </variables>
</Flow>
