force-app/main/default/flows/SendContractToRingLead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendContractToDMS</name>
        <label>SendContractToDMS</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <actionName>UniqueEntry__RingLeadGlobal</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__newInput</typeName>
            <typeValue>Contract</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__newInputBulk</typeName>
            <typeValue>Contract</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__oldInput</typeName>
            <typeValue>Contract</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__oldInputBulk</typeName>
            <typeValue>Contract</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>newInputBulk</name>
            <value>
                <elementReference>newRecordsBulk</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectName</name>
            <value>
                <elementReference>objectName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>oldInputBulk</name>
            <value>
                <elementReference>oldRecordsBulk</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>newInput</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>UniqueEntry__RingLeadGlobal</nameSegment>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Data_in_Bulk</name>
        <label>Data in Bulk</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>oldRecordsBulk</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record__Prior</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newRecordsBulk</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SendContractToDMS</targetReference>
        </connector>
    </assignments>
    <interviewLabel>SendContractToRingLead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SendContractToRingLead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Data_in_Bulk</targetReference>
        </connector>
        <object>Contract</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>newRecordsBulk</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>objectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Contract</stringValue>
        </value>
    </variables>
    <variables>
        <name>oldRecordsBulk</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract</objectType>
    </variables>
</Flow>
