force-app/main/default/flows/test_hubspotlifecyclestage.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_if_the_lifecycle_stage_is_already_Customer</name>
        <label>Check if the lifecycle stage is already &quot;Customer&quot;</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>not_Customer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>The_lifecycle_stage_is_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_accounts.Hubspot_Lifecycle_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Account.Hubspot_Lifecycle_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer</stringValue>
                </rightValue>
            </conditions>
            <label>The lifecycle stage is &quot;Customer&quot;</label>
        </rules>
    </decisions>
    <decisions>
        <name>not_Customer</name>
        <label>not &quot;Customer&quot;</label>
        <locationX>418</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Lifecycle_Stage_Churned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_accounts.Hubspot_Lifecycle_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Churned</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_cont</targetReference>
            </connector>
            <label>Is Lifecycle Stage &quot;Churned&quot;?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>test hubspotlifecyclestage {!$Flow.CurrentDateTime}</interviewLabel>
    <label>test hubspotlifecyclestage</label>
    <loops>
        <name>Loop_through_the_contacts</name>
        <label>Loop through the contacts</label>
        <locationX>286</locationX>
        <locationY>755</locationY>
        <collectionReference>get_cont</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_2_of_get_contacts</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_accounts</name>
        <label>get accounts</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_the_lifecycle_stage_is_already_Customer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_cont</name>
        <label>get cont</label>
        <locationX>286</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_the_contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_2_of_get_contacts</name>
        <label>Copy 2 of get contacts</label>
        <locationX>374</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Loop_through_the_contacts</targetReference>
        </connector>
        <inputAssignments>
            <field>Hubspot_Lifecycle_Stage__c</field>
            <value>
                <stringValue>Churned</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account.Contacts</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_accounts</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
