force-app/main/default/flows/UpdatePartnerMargin_1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AssignOneTime</name>
        <label>AssignOneTime</label>
        <locationX>894</locationX>
        <locationY>1035</locationY>
        <assignmentItems>
            <assignToReference>$Record.Partner_Margin_Duration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>One-time</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getCBNote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignPartnerValues</name>
        <label>AssignPartnerValues</label>
        <locationX>696</locationX>
        <locationY>1018</locationY>
        <assignmentItems>
            <assignToReference>$Record.Partner_Billing_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Partner__r.Bill_through_Partner__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Partner_Margin_Duration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>On-going</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getCBNote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PartnerBronzeBillingType</name>
        <label>PartnerBronzeBillingType</label>
        <locationX>1110</locationX>
        <locationY>899</locationY>
        <assignmentItems>
            <assignToReference>$Record.Partner_Billing_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Partner__r.Bill_through_Partner__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Partner_Margin_Duration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>One-time</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getCBNote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setCBCreditNote</name>
        <label>setCBCreditNote</label>
        <locationX>1121</locationX>
        <locationY>1179</locationY>
        <assignmentItems>
            <assignToReference>$Record.CB_Credit_Note__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCBNote.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>TierGoldSilver</name>
        <label>TierGoldSilver</label>
        <locationX>967</locationX>
        <locationY>988</locationY>
        <assignmentItems>
            <assignToReference>$Record.Partner_Margin_Duration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>On-going</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getCBNote</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckPartnerTier</name>
        <label>CheckPartnerTier</label>
        <locationX>660</locationX>
        <locationY>677</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckTierGoldORsilver</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Active_Partner_Tier_get.Partner_Tier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gold</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Active_Partner_Tier_get.Partner_Tier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Silver</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Partner__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignPartnerValues</targetReference>
            </connector>
            <label>CheckTierGoldORsilver</label>
        </rules>
        <rules>
            <name>CheckReferral</name>
            <conditionLogic>(1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Partner_Tier__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Partner_Tier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bronze</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignOneTime</targetReference>
            </connector>
            <label>CheckBronze</label>
        </rules>
        <rules>
            <name>TierIsGoldOrSilver</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Partner_Tier__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Partner_Tier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gold</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Partner_Tier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Silver</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TierGoldSilver</targetReference>
            </connector>
            <label>TierIsGoldOrSilver</label>
        </rules>
        <rules>
            <name>checkPartnerReferral</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Partner__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Active_Partner_Tier_get.Partner_Tier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bronze</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PartnerBronzeBillingType</targetReference>
            </connector>
            <label>checkPartnerBronze</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Partner</name>
        <label>Has Partner?</label>
        <locationX>490</locationX>
        <locationY>316</locationY>
        <defaultConnector>
            <targetReference>getCBNote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_Partner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Partner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Active_Partner_Tier_get</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Partner_Tier_Changed</name>
        <label>Partner/Partner Tier Changed?</label>
        <locationX>661</locationX>
        <locationY>502</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Partner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Partner__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Partner</label>
        </rules>
        <rules>
            <name>Partner_Tier</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Partner_Tier__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Partner Tier</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>UpdatePartnerMargin_1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Partner Margin: Before Create, Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Active_Partner_Tier_get</name>
        <label>Active Partner Tier</label>
        <locationX>498</locationX>
        <locationY>500</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Partner_Tier_Changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Partner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Partner__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>PartnerTier_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Partner_Tier__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCBNote</name>
        <label>getCBNote</label>
        <locationX>1262</locationX>
        <locationY>421</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>setCBCreditNote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>chargebeeapps__Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CB_Invoice__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>chargebeeapps__CB_Credit_Note__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>372</locationX>
        <locationY>46</locationY>
        <connector>
            <targetReference>Has_Partner</targetReference>
        </connector>
        <object>Partner_Margin__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>ActivePartnerTier</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Partner_Tier__c</objectType>
    </variables>
    <variables>
        <name>VarCBNote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>chargebeeapps__CB_Credit_Note__c</objectType>
    </variables>
</Flow>
