force-app/main/default/flows/UpdateOPProduct.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>setAttributableAmount</name>
        <label>setAttributableAmount</label>
        <locationX>506</locationX>
        <locationY>639</locationY>
        <assignmentItems>
            <assignToReference>getOPProduct.Partner_Margin_Attributable_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PM_Attributable_Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateOpProduct</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ifAttributesChanged</name>
        <label>ifAttributesChanged</label>
        <locationX>495</locationX>
        <locationY>334</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ifQuantityOrTPOChanged</name>
            <conditionLogic>(1 OR 2 ) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Quantity__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Total_Price_Original__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity_Product__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>getOPProduct</targetReference>
            </connector>
            <label>ifQuantityOrTPOChanged</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>PM_Attributable_Amount</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Total_Price__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>UpdateOPProduct {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UpdateOPProduct</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getOPProduct</name>
        <label>getOPProduct</label>
        <locationX>510</locationX>
        <locationY>484</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>setAttributableAmount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity_Product__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateOpProduct</name>
        <label>updateOpProduct</label>
        <locationX>519</locationX>
        <locationY>795</locationY>
        <inputReference>getOPProduct</inputReference>
    </recordUpdates>
    <start>
        <locationX>373</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>ifAttributesChanged</targetReference>
        </connector>
        <object>Partner_Margin_Product__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
