force-app/main/default/flows/UpdatePMFromPMProduct.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>setBooleanVar</name>
        <label>setBooleanVar</label>
        <locationX>1005</locationX>
        <locationY>702</locationY>
        <assignmentItems>
            <assignToReference>IsPMProductPartialQuantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkForEachPMProductPartialQuantity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckPPM</name>
        <label>CheckPPM</label>
        <locationX>490</locationX>
        <locationY>374</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IfNotCheckedPPM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Partial_Partner_Quantity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdatePM</targetReference>
            </connector>
            <label>IfNotCheckedPPM</label>
        </rules>
        <rules>
            <name>IfPartialQuantityNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Partial_Partner_Quantity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getAllPMProducts</targetReference>
            </connector>
            <label>IfPartialQuantityNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>ifPartialQuantityFound</name>
        <label>ifPartialQuantityFound</label>
        <locationX>1020</locationX>
        <locationY>438</locationY>
        <defaultConnector>
            <targetReference>checkForEachPMProductPartialQuantity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>checkPartailQuantity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>checkForEachPMProductPartialQuantity.Partial_Partner_Quantity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setBooleanVar</targetReference>
            </connector>
            <label>checkPartailQuantity</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>UpdatePartnerMargin {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UpdatePMFromPMProduct</label>
    <loops>
        <name>checkForEachPMProductPartialQuantity</name>
        <label>checkForEachPMProductPartialQuantity</label>
        <locationX>881</locationX>
        <locationY>412</locationY>
        <collectionReference>getAllPMProducts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ifPartialQuantityFound</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdatePMPP</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getAllPMProducts</name>
        <label>getAllPMProducts</label>
        <locationX>874</locationX>
        <locationY>282</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkForEachPMProductPartialQuantity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Partner_Margin__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Partner_Margin__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Partner_Margin_Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdatePM</name>
        <label>UpdatePM</label>
        <locationX>498</locationX>
        <locationY>586</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Partner_Margin__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Partial_Partner_Margin__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Partner_Margin__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdatePMPP</name>
        <label>UpdatePMPP</label>
        <locationX>711</locationX>
        <locationY>664</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Partner_Margin__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Partial_Partner_Margin__c</field>
            <value>
                <elementReference>IsPMProductPartialQuantity</elementReference>
            </value>
        </inputAssignments>
        <object>Partner_Margin__c</object>
    </recordUpdates>
    <start>
        <locationX>373</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>CheckPPM</targetReference>
        </connector>
        <object>Partner_Margin_Product__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>IsPMProductPartialQuantity</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
