force-app/main/default/flows/Update_Opportunity_Partner_Margin.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assignBtP</name>
        <label>assignBtP</label>
        <locationX>466</locationX>
        <locationY>874</locationY>
        <assignmentItems>
            <assignToReference>loopThroughAllPM.Partner_Margin_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Billed through Partner</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PMRecordsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughAllPM</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopThroughAllPM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateLostStatus</name>
        <label>UpdateLostStatus</label>
        <locationX>186</locationX>
        <locationY>879</locationY>
        <assignmentItems>
            <assignToReference>loopThroughAllPM.Partner_Margin_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Lost</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PMRecordsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughAllPM</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopThroughAllPM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateWonStatus</name>
        <label>UpdateWonStatus</label>
        <locationX>591</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>loopThroughAllPM.Partner_Margin_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PMRecordsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughAllPM</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopThroughAllPM</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>OppStageCheck</name>
        <label>OppStageCheck</label>
        <locationX>462</locationX>
        <locationY>658</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>StageClosedLost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateLostStatus</targetReference>
            </connector>
            <label>StageClosedLost</label>
        </rules>
        <rules>
            <name>StageClosedWonDirect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopThroughAllPM.Partner_Billing_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Direct</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateWonStatus</targetReference>
            </connector>
            <label>StageClosedWonDirect</label>
        </rules>
        <rules>
            <name>StageClosedWonBtP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopThroughAllPM.Partner_Billing_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bill through Partner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignBtP</targetReference>
            </connector>
            <label>StageClosedWonBtP</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Opportunity Partner Margin {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Opportunity Partner Margin</label>
    <loops>
        <name>loopThroughAllPM</name>
        <label>loopThroughAllPM</label>
        <locationX>508</locationX>
        <locationY>537</locationY>
        <collectionReference>getPartnerMargin</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>OppStageCheck</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdatePartnerMargin</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getPartnerMargin</name>
        <label>getPartnerMargin</label>
        <locationX>506</locationX>
        <locationY>385</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopThroughAllPM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Partner_Margin__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdatePartnerMargin</name>
        <label>UpdatePartnerMargin</label>
        <locationX>906</locationX>
        <locationY>802</locationY>
        <inputReference>PMRecordsToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>373</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>getPartnerMargin</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>PMRecordsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Partner_Margin__c</objectType>
    </variables>
    <variables>
        <name>VarPartnerMargin</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Partner_Margin__c</objectType>
    </variables>
</Flow>
