force-app/main/default/flows/UpdateCoupon.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>EnhancementDiscount</name>
        <label>EnhancementDiscount</label>
        <locationX>138</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>EnhancementDiscountVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOverCoupons.Discount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOverCoupons</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EnhancementDiscount_0</name>
        <label>EnhancementDiscount</label>
        <locationX>1018</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>ProductMarginDiscountVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOverCoupons_0.Discount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOverCoupons_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ProductMarginDiscount</name>
        <label>ProductMarginDiscount</label>
        <locationX>666</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>ProductMarginDiscountVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOverCoupons.Discount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOverCoupons</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SalesDiscount</name>
        <label>SalesDiscount</label>
        <locationX>402</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>SalesDiscountVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOverCoupons.Discount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOverCoupons</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DetectCouponType</name>
        <label>DetectCouponType</label>
        <locationX>534</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>LoopOverCoupons</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsCouponEnhancedDiscount1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopOverCoupons.chargebeeapps__CB_Coupon__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PARTNER ENHANCEMENT MARGIN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopOverCoupons.chargebeeapps__CB_Coupon__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>12345</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EnhancementDiscount</targetReference>
            </connector>
            <label>IsCouponEnhancedDiscount</label>
        </rules>
        <rules>
            <name>IsCouponSalesDiscount</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>LoopOverCoupons.chargebeeapps__CB_Coupon__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>10% SALES DISCOUNT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopOverCoupons.chargebeeapps__CB_Coupon__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5% FIRST YEAR DISCOUNT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopOverCoupons.chargebeeapps__CB_Coupon__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>20% SALES DISCOUNT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesDiscount</targetReference>
            </connector>
            <label>IsCouponSalesDiscount</label>
        </rules>
        <rules>
            <name>IsMarginCoupon</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>LoopOverCoupons.chargebeeapps__CB_Coupon__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BRONZE PARTNER PRODUCT MARGIN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopOverCoupons.chargebeeapps__CB_Coupon__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SILVER PARTNER PRODUCT MARGIN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopOverCoupons.chargebeeapps__CB_Coupon__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SILVER PARTNER RENEWAL MARGIN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopOverCoupons.chargebeeapps__CB_Coupon__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GOLD PARTNER PRODUCT MARGIN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopOverCoupons.chargebeeapps__CB_Coupon__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2023 GOLD PARTNER PRODUCT MARGIN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopOverCoupons.chargebeeapps__CB_Coupon__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2023 SILVER PARTNER PRODUCT MARGIN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopOverCoupons.chargebeeapps__CB_Coupon__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GOLD PLUS PARTNER PRODUCT MARGIN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ProductMarginDiscount</targetReference>
            </connector>
            <label>IsMarginCoupon</label>
        </rules>
    </decisions>
    <decisions>
        <name>DetectCouponType_0</name>
        <label>DetectCouponType</label>
        <locationX>1150</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>LoopOverCoupons_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsCouponEnhancedDiscount1_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopOverCoupons_0.chargebeeapps__CB_Coupon__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PARTNER ENHANCEMENT MARGIN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EnhancementDiscount_0</targetReference>
            </connector>
            <label>IsCouponEnhancedDiscount</label>
        </rules>
    </decisions>
    <decisions>
        <name>DetectProductType</name>
        <label>DetectProductType</label>
        <locationX>820</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsDesktopProductQuoteLine1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product2.Family</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DESKTOP_PRODUCTS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetOppCoupons</targetReference>
            </connector>
            <label>IsDesktopProductQuoteLine</label>
        </rules>
        <rules>
            <name>IsDesktopEnhancementQuoteLine</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product2.Family</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DESKTOP_ENHANCEMENT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetOppCoupons_0</targetReference>
            </connector>
            <label>IsDesktopEnhancementQuoteLine</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsCouponExist</name>
        <label>IsCouponExist</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsCouponExist1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOppCoupons</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopOverCoupons</targetReference>
            </connector>
            <label>IsCouponExist</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsCouponExist_0</name>
        <label>IsCouponExist</label>
        <locationX>1062</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsCouponExist1_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOppCoupons_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopOverCoupons_0</targetReference>
            </connector>
            <label>IsCouponExist</label>
        </rules>
    </decisions>
    <description>GOLD PLUS PARTNER PRODUCT MARGIN</description>
    <environments>Default</environments>
    <interviewLabel>UpdateCoupon {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UpdateCoupon</label>
    <loops>
        <name>LoopOverCoupons</name>
        <label>LoopOverCoupons</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <collectionReference>GetOppCoupons</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>DetectCouponType</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SetAllFields</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopOverCoupons_0</name>
        <label>LoopOverCoupons</label>
        <locationX>930</locationX>
        <locationY>695</locationY>
        <collectionReference>GetOppCoupons_0</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>DetectCouponType_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SetAllFields_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetOppCoupons</name>
        <label>GetOppCoupons</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsCouponExist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>chargebeeapps__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Quote.OpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>chargebeeapps__CB_Opportunity_Coupon__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOppCoupons_0</name>
        <label>GetOppCoupons</label>
        <locationX>1062</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsCouponExist_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>chargebeeapps__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Quote.OpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>chargebeeapps__CB_Opportunity_Coupon__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>SetAllFields</name>
        <label>SetAllFields</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <inputAssignments>
            <field>Discount</field>
            <value>
                <elementReference>ProductMarginDiscountVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Enhanced_Discount__c</field>
            <value>
                <elementReference>EnhancementDiscountVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Discount__c</field>
            <value>
                <elementReference>SalesDiscountVar</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>SetAllFields_0</name>
        <label>SetAllFields</label>
        <locationX>930</locationX>
        <locationY>1247</locationY>
        <inputAssignments>
            <field>Discount</field>
            <value>
                <elementReference>ProductMarginDiscountVar</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>694</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DetectProductType</targetReference>
        </connector>
        <object>QuoteLineItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>EnhancementDiscountVar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ProductMarginDiscountVar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SalesDiscountVar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
