force-app/main/default/flows/Update_Custom_QuoteLines.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Is_Valid_Product</name>
        <label>Is Valid Product</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Product_Code_CST00001</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CST00001</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.QuoteId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Quote.RecordTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Quote.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Custom</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Record</targetReference>
            </connector>
            <label>Is Product Code CST00001</label>
        </rules>
        <rules>
            <name>Is_Product_Code_CST00004</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CST00004</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.QuoteId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Quote.RecordTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Quote.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Custom</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Record</targetReference>
            </connector>
            <label>Is Product Code CST00004</label>
        </rules>
        <rules>
            <name>Is_Product_Code_CST00008</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CST00008</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.QuoteId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Quote.RecordTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Quote.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Custom</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Update_Record</targetReference>
            </connector>
            <label>Is Product Code CST00008</label>
        </rules>
        <rules>
            <name>Is_Product_Code_CST00006</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CST00006</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.QuoteId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Quote.RecordTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Quote.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Custom</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Update_Record</targetReference>
            </connector>
            <label>Is Product Code CST00006</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Custom QuoteLines {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Custom QuoteLines</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Copy_1_of_Update_Record</name>
        <label>Update Record</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Development</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Description__c</field>
            <value>
                <elementReference>vCST00004WorkDescriptionCustomDevelopment</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Update_Record</name>
        <label>Update Record</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Quality Assurance Testing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Description__c</field>
            <value>
                <elementReference>vCST00009WorkDescriptionTesting</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_3_of_Update_Record</name>
        <label>Update Record</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Project Management</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Description__c</field>
            <value>
                <elementReference>vCST00006WorkDescriptionPMServices</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Record</name>
        <label>Update Record</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Custom_Task_Type__c</field>
            <value>
                <stringValue>Consulting</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Consulting</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Description__c</field>
            <value>
                <elementReference>vCST00001WorkDescription</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Valid_Product</targetReference>
        </connector>
        <object>QuoteLineItem</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>vCST00001WorkDescription</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Cavallo is providing a Custom Consulting block of hours to perform detailed discovery, research, and planning for this project.&amp;nbsp;As a result of the initial discovery phase for the project, finalized requirements and effort estimates are provided for final confirmation by the customer, which may result in the need for a revised estimate.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Additional research and planning efforts may be required throughout the course of the project; this includes meetings, communications, and documentation.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;These consulting hours will be billed on a Time and Materials basis; any unused hours will not be billed.&amp;nbsp;If additional consulting hours are required, a separate estimate will be provided.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>vCST00004WorkDescriptionCustomDevelopment</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Cavallo is providing a Custom Development block of X hours to provide custom development services, including:&amp;nbsp;- &lt;strong&gt;LIST NOTED TOPICS&lt;/strong&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;These development hours will be billed on a Time and Materials basis; any unused hours will not be billed.&amp;nbsp;If additional development hours are required, a separate estimate will be provided.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>vCST00006WorkDescriptionPMServices</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;A Custom Development Project Manager will be assigned to the project and will act as the main point of contact throughout the project.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The Project Manager&apos;s primary objective is the successful execution of the project, delivered on time and within budget. In support of this objective, the Project Manager’s tasks include planning, scheduling, resource allocation, execution, tracking, and delivery of custom solutions.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;These services are billed as a fixed percentage of the work hours consumed within the billing period.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>vCST00009WorkDescriptionTesting</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Cavallo&apos;s Quality Assurance (QA) team performs testing of the custom-developed solution prior to delivery. The objective of this testing process is to validate the functionality of the feature against the functional requirements and acceptance criteria. Non-functional testing services are not included in the scope of this project.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Once the feature passes QA testing, it is made available to the customer at the end of the sprint to begin Customer Testing (User Acceptance Testing). Customer Testing is performed by the customer within their test environment and should be performed as thoroughly as possible. The customer will have two sprint cycles (20 business days) to perform testing in order to maintain the momentum of the project.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;We recommend all testing be performed in a test environment identical to the production environment before deploying the solution to a live environment.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;These testing hours will be billed on a Time and Materials basis; any unused hours will not be billed.&amp;nbsp;If additional testing hours are required, a separate estimate will be provided.&lt;/p&gt;</text>
    </textTemplates>
</Flow>
