force-app/main/default/flows/UpdatePartnerMargin.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AssignOneTime</name>
        <label>AssignOneTime</label>
        <locationX>631</locationX>
        <locationY>814</locationY>
        <assignmentItems>
            <assignToReference>$Record.Partner_Margin_Duration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>One-time</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getCBNote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignPartnerValues</name>
        <label>AssignPartnerValues</label>
        <locationX>514</locationX>
        <locationY>912</locationY>
        <assignmentItems>
            <assignToReference>$Record.Partner_Billing_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Partner__r.Bill_through_Partner__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getCBNote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setCBCreditNote</name>
        <label>setCBCreditNote</label>
        <locationX>1121</locationX>
        <locationY>1179</locationY>
        <assignmentItems>
            <assignToReference>$Record.CB_Credit_Note__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCBNote.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>CheckPartnerAccount</name>
        <label>CheckPartnerAccount</label>
        <locationX>489</locationX>
        <locationY>320</locationY>
        <defaultConnector>
            <targetReference>getCBNote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckPartner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Partner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetActivePartnerTier</targetReference>
            </connector>
            <label>CheckPartner</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckPartnerTier</name>
        <label>CheckPartnerTier</label>
        <locationX>487</locationX>
        <locationY>636</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckTierGoldORsilver</name>
            <conditionLogic>1 OR 2</conditionLogic>
            <conditions>
                <leftValueReference>GetActivePartnerTier.Partner_Tier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gold</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetActivePartnerTier.Partner_Tier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Silver</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignPartnerValues</targetReference>
            </connector>
            <label>CheckTierGoldORsilver</label>
        </rules>
        <rules>
            <name>CheckReferral</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetActivePartnerTier.Partner_Tier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Referral</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignOneTime</targetReference>
            </connector>
            <label>CheckReferral</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>UpdatePartnerMargin {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UpdatePartnerMargin</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetActivePartnerTier</name>
        <label>GetActivePartnerTier</label>
        <locationX>498</locationX>
        <locationY>500</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckPartnerTier</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Partner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Partner__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>PartnerTier_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Partner_Tier__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCBNote</name>
        <label>getCBNote</label>
        <locationX>1346</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>setCBCreditNote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>chargebeeapps__Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CB_Invoice__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>chargebeeapps__CB_Credit_Note__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>372</locationX>
        <locationY>46</locationY>
        <connector>
            <targetReference>CheckPartnerAccount</targetReference>
        </connector>
        <object>Partner_Margin__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>ActivePartnerTier</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Partner_Tier__c</objectType>
    </variables>
    <variables>
        <name>VarCBNote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>chargebeeapps__CB_Credit_Note__c</objectType>
    </variables>
</Flow>
