force-app/main/default/flows/UpdatePartnerTier.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Needs_Review</name>
        <label>Needs Review?</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Needs_Review</name>
            <conditionLogic>((1 OR 2) AND 3) OR (4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>Active_Partner_Tier_get.Partner_Tier__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Active_Partner_Tier_get.Partner_Tier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bronze</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Current_Year_CY_ARR_Sales__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>20000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Active_Partner_Tier_get.Partner_Tier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Silver</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Current_Year_CY_ARR_Sales__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>40000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Active_Partner_Tier_update</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>UpdatePartnerTier {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reseller Partner Account After Update: Partner Tier Needs Review?</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Active_Partner_Tier_get</name>
        <label>Active Partner Tier</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Needs_Review</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Partner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PartnerTier_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Partner_Tier__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Active_Partner_Tier_update</name>
        <label>Active Partner Tier</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Active_Partner_Tier_get.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PartnerTier_Status__c</field>
            <value>
                <stringValue>Needs Review</stringValue>
            </value>
        </inputAssignments>
        <object>Partner_Tier__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Active_Partner_Tier_get</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Current_Year_CY_ARR_Sales__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Current_Year_CY_ARR_Sales__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012PC000002zTqLYAU</stringValue>
            </value>
        </filters>
        <filters>
            <field>Partner_Account_Type__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Reseller</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
