force-app/main/default/flows/UpdatePartnerMarginAccountFields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assignLTDARR</name>
        <label>assignLTDARR</label>
        <locationX>1235</locationX>
        <locationY>543</locationY>
        <assignmentItems>
            <assignToReference>Var_LTDARR</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopPMRecords.Software_Attributable_ARR__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_LTDARR</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopPMRecords.Enhancement_Attributable_ARR__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkOppCloseYear</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setCurrentYearARR</name>
        <label>setCurrentYearARR</label>
        <locationX>1364</locationX>
        <locationY>750</locationY>
        <assignmentItems>
            <assignToReference>Val_CurrentYearARR</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopPMRecords.Software_Attributable_ARR__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Val_CurrentYearARR</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopPMRecords.Enhancement_Attributable_ARR__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopPMRecords</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkOppCloseYear</name>
        <label>checkOppCloseYear</label>
        <locationX>1422</locationX>
        <locationY>580</locationY>
        <defaultConnector>
            <targetReference>loopPMRecords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>checkCurrentYear</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityCloseDateYear</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>FlowCurrentYear</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setCurrentYearARR</targetReference>
            </connector>
            <label>checkCurrentYear</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkPMList1</name>
        <label>checkPMList1</label>
        <locationX>772</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PMForLTDARRList</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getPartnerMargins</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopPMRecords</targetReference>
            </connector>
            <label>PMForLTDARRList</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FlowCurrentYear</name>
        <dataType>Number</dataType>
        <expression>YEAR({!$Flow.CurrentDate})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>OpportunityCloseDateYear</name>
        <dataType>Number</dataType>
        <expression>YEAR({!loopPMRecords.Opportunity_Closed_Won_Date__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>VarCalLTDARR</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Software_Attributable_ARR__c} + {!$Record.Enhancement_Attributable_ARR__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>UpdatePartnerMarginAccountFields {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UpdatePartnerMarginAccountFields</label>
    <loops>
        <name>loopPMRecords</name>
        <label>loopPMRecords</label>
        <locationX>980</locationX>
        <locationY>586</locationY>
        <collectionReference>getPartnerMargins</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignLTDARR</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>setAccountLTDARR</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getPartnerMargins</name>
        <label>getPartnerMargins</label>
        <locationX>777</locationX>
        <locationY>318</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkPMList1</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4 OR 5)</filterLogic>
        <filters>
            <field>Partner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Partner__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Partner_Margin_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Initial Purchase</stringValue>
            </value>
        </filters>
        <filters>
            <field>Partner_Margin_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Billed through Partner</stringValue>
            </value>
        </filters>
        <filters>
            <field>Partner_Margin_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved for AP</stringValue>
            </value>
        </filters>
        <filters>
            <field>Partner_Margin_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Historical</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Partner_Margin__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>setAccountLTDARR</name>
        <label>setAccountLTDARR</label>
        <locationX>982</locationX>
        <locationY>837</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Partner__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Year_CY_ARR_Sales__c</field>
            <value>
                <elementReference>Val_CurrentYearARR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LTD_ARR_Sales__c</field>
            <value>
                <elementReference>Var_LTDARR</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>373</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>getPartnerMargins</targetReference>
        </connector>
        <object>Partner_Margin__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Val_CurrentYearARR</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Var_LTDARR</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
